[2021-03-17 18:04] paulo-serrao opened #265 "Dashboard starts streaming camera feed even with Camera widget disabled"
**Describe the bug**
Even with the camera widget disabled and not showing on the page, the dashboard automatically starts streaming the camera feed on the background using bandwidth.
On the widget options, deleting the camera feed does not solve the problem, I could only stop the streaming by:

Enabling the Widget and manually clicking the camera icon to hide/stop the camera feed.
Disabling the Wi

[2021-03-17 18:54] Willmac16 commented on #265
Thanks for catching that. You can try the fix by installing with the url `https://github.com/j7126/OctoPrint-Dashboard/archive/development.zip`

[2021-03-17 19:02] drewstopherlee commented on #262
When I installed using this link, it still wasn't working. I chose the release candidate channel in the Software Update menu and re-installed, and now it's working as expected. Thanks again for your help!

[2021-03-17 19:17] Willmac16 commented on #262
@drewstopherlee just to be clear, the release candidate channel will install version 1.18.0 of Dashboard (the latest release), not the (unreleased) version with Dashboard backend file processing, so you will likely run into the same issue with large files (you can always manually go into the gcode viewer and force them to load).

It is possible that your slicer'a layer markers are not recognized b

[2021-03-17 19:27] drewstopherlee commented on #262
Huh, okay, I didn't know that. It must've been the size of the file then, the dlpreplacement.zip install gave me the same issue when I ran the same .gcode file a second time.
Here's a zip of the gcode that didn't load layer progress:
[PegboardTowelHolder 0.2mm PLA 16h55m.gcode.zip](https://github.com/j7126/OctoPrint-Dashboard/files/6159203/PegboardTowelHolder.0.2mm.PLA.16h55m.gcode.zip)
And here's

[2021-03-17 19:29] Willmac16 commented on #262
Awesome, I'll try those files out, and we will likely run a Release Candidate for the backend rework update.

[2021-03-17 19:33] drewstopherlee commented on #262
Thanks for your insight! I really appreciate it.

[2021-03-18 03:34] Willmac16 commented on #263
Fix was released with 1.18.1

[2021-03-18 03:34] #263 closed

[2021-03-18 03:34] Willmac16 commented on #265
Fix pushed with 1.18.1

[2021-03-18 03:34] #265 closed

[2021-03-18 03:35] Willmac16 commented on #264
Fix released with 1.18.1

[2021-03-18 03:35] #264 closed

[2021-03-18 04:40] Willmac16 commented on #262
Okay, I took a look, and the files seem to have the same layer markings, so I bet that you uploaded the first file before upgrading to the test version and uploaded the second file afterwards. That specific version of Dashboard processes upon file upload and doesn't try to process on file print.

[2021-03-18 19:01] paulo-serrao commented on #265
I confirm 1.18.1 no longer have the issue :)

[2021-03-19 06:52] Klammerson opened #266 "Themify changes only apply temporarily to tool temperature gauge"
All Themify changes apply correctly to the dashboard except for the tool temperature gauge.

CSS changes apply to it but once you open the settings they revert back to standard.

My assumption is that the following part causes the issue:

data-bind="css: $parent.gaugesCentreInGrid('tool', $index())....

While the other elements are like this:

data-bind="css: gaugesCentreInGrid('bed', $index())...

[2021-03-19 06:57] j7126 commented on #266
Hi @Klammerson, yes the $parent is required it will not work without it because it is within a loop. The gaugesCentreInGrid actually has nothing to do with the theme colors, it is for ensuring that the temp gauges are centered. Can you please upload a screenshot of the exact issue you are experiencing.

[2021-03-19 07:19] j7126 commented on #266
@Klammerson I have tried to reproduce the issue that you are having according to your description and have not been able to see the same issue. The only thing that i can think of is if you have the temp gauge colors option enabled which color codes the gauges based on their temperature value.

If this is not the case can you please upload screenshots, your octoprint.log file and if there are any e

[2021-03-19 08:16] Klammerson commented on #266
![Bildschirmfoto 2021-03-19 um 08 55 35](https://user-images.githubusercontent.com/65161811/111749771-8ac98f00-8892-11eb-8d88-8f2ddfabbd5d.png)
![Bildschirmfoto 2021-03-19 um 08 55 18](https://user-images.githubusercontent.com/65161811/111749778-8bfabc00-8892-11eb-8a53-a21e2b19ece4.png)
![Bildschirmfoto 2021-03-19 um 08 55 03](https://user-images.githubusercontent.com/65161811/111749779-8c935280-8

[2021-03-19 08:24] j7126 commented on #266
I understand and can reproduce the issue now and am working on a fix

[2021-03-19 21:20] drewstopherlee commented on #262
That's definitely it, I didn't know they processed on upload. I haven't had any similar issues with new files I've uploaded. Thanks for checking that out.

[2021-03-22 00:45] samwiseg0 opened #267 "Slow/laggy octorpint web interface when using 1.18.1"
**Describe the bug**
After upgrading to 1.18.1 and doing any print that takes some time such as an hour or so the webUI is very sluggish and unresponsive. If I revert back to 1.17.0 the issue goes away and the webUI is responsive as it should be.

I have tried removing all the widgets in the dashboard to see if one in particular was causing the issue. That did not seem to change the responsiveness

[2021-03-22 01:10] Willmac16 commented on #267
Can you elaborate on the procedure to produce this error: Does it happen when you leave the window open for an hour? or would it also happen if you opened up the octoprint web interface an hour into an ongoing print?

Could you also attach a browser console log so we might better track down the issue.

[2021-03-22 01:26] samwiseg0 commented on #267
This happens when regardless of whether the window is open or not. I have been closing the window because at some point it completely locks up. If I open the page fresh it takes a long time to load and then when it becomes hard to navigate and then locks up completely after 1-2 minutes.

Sure. I can do this tomorrow as I already reverted back to 1.17.0 and I have a print job going.

I was receivin

[2021-03-22 16:29] samwiseg0 commented on #267
After testing a few gcode files that gave me issues yesterday I am unable to reproduce it. I completely wiped the plugin and config and started fresh this morning and that may have "fixed" whatever issue was happening. Thank you for your time in looking into this.

If it crops back up I will see if I can grab some more information.

Thanks again

[2021-03-22 16:29] #267 closed

[2021-03-23 15:47] tutanra opened #268 "webcam flip"
Webcam settings flip do not start when dashboard is active. I have to deactivate it and activate it to have the webcam flip again. This bug did not appear before the last update.

Appears with UI Customizer and DashBoard together.

Regards.

[2021-03-23 15:49] Willmac16 commented on #268
Is this the octoprint control tab's webcam or the dashboard webcam?

[2021-03-23 15:54] tutanra commented on #268
In control webcam tab the image is correct, webcam is disabled in dashboard settings and /webcam/?action=stream is the problem, doesnt read the init settings, there are a minituare in ui customizer that show flipped also.

When I enable dashboard settings, then, /webcam/?action=strem is ok.

[2021-03-23 16:00] Willmac16 commented on #268
What do you mean by

[2021-03-23 16:20] tutanra commented on #268
sorry, when I disable the webcam widget in the dashboard settings, the link /webcam/?action=stream is flipped.

[2021-03-23 16:25] Willmac16 commented on #268
As in, the link url changes to something that does not work or the physical webcam stream is flipped so that it looks backwards?

Thank you for clarifying!

[2021-03-23 17:24] tutanra commented on #268
My webcam needs to flip and this is active in settings. When I restart octoprint, the webcam is not flipped so I must to disable and enable to show correctly. Seems that webcam doesnt read the settings, only occurs when dashboard & ui customizer and the webcam widget is disabled. Before this update all was working correctly, I have two servers and both occurs the same.

[2021-03-23 17:25] Willmac16 commented on #268
Okay, I'll test it out.

[2021-03-23 17:39] tutanra commented on #268
Thanks a lot.

[2021-03-23 17:57] Willmac16 commented on #268
I installed UI-Customizer and tested thing out.

I was able to reproduce the issue you have.

This is with the webcam widget disabled:
![image](https://user-images.githubusercontent.com/27445690/112193470-2590d900-8bc5-11eb-90c8-6739a811aa87.png)

and this is with dashboard as a whole disabled:
![image](https://user-images.githubusercontent.com/27445690/112193956-a223b780-8bc5-11eb-8493-65243ee20b

[2021-03-23 18:39] Willmac16 commented on #268
Okay, I think I figured out the problem. You can try out the fix by installing dashboard with the url `https://github.com/j7126/OctoPrint-Dashboard/archive/refs/heads/development.zip`

[2021-03-23 18:43] tutanra commented on #268
yes, fix now, thanks.

[2021-03-23 18:46] #268 closed

[2021-03-28 13:36] LazeMSS opened #269 "Make CSS safe"
**Is your feature request related to a problem? Please describe.**
Could you consider making the CSS safe ie avoid using generic assigns for charts and generic classnames (.target). Basically prefixing the css with any containers you elements are inside. exampl <div class="OctoPrint-Dashboard><a class="target"></a></div>. Making the css like: OctoPrint-Dashboard.target would avoid conflicts with o

[2021-03-29 14:24] gjsmo opened #270 "FR: ETA should include date"
**Is your feature request related to a problem? Please describe.**
ETA is very helpful, but only has time and not date. For prints over 24 hours this can be confusing.

**Describe the solution you'd like**
If the print is estimated to take longer than 24 hours, the ETA should show a date

**Describe alternatives you've considered**
It's always possible to calculate ETA manually from "estimated tim

[2021-03-31 08:02] philder opened #271 "Possibility to change colors without themiefy"
Is it possible to add a feature that allows us to change the colors of gauges and the text without needing themify (which I also think is not working)? As a user of the UI Customizer plugin, I would like to use this dashboard with the colors based on my theme.

Thank you!

[2021-03-31 14:50] Willmac16 commented on #271
It sounds like the best solution here would be to have Dashboard also match ui-customizer color schemes and make sure that css theming plugins properly apply to dashboard if possible.

[2021-04-08 18:16] Willmac16 commented on #269
I made some improvements, and they should come through with the next release.

[2021-04-19 10:01] arimb opened #272 "Layer Duration Graph Not Resetting"
**Describe the bug**
The Layer Duration graph doesn't reset after each print. It just continues to add to the x axis starting at zero again.

**Expected behavior**
The graph should reset when a new print is started so layer zero is always on the y axis.

**Screenshots**
![image](https://user-images.githubusercontent.com/13023392/115218063-d16b0d00-a10e-11eb-835d-a69485adbc4d.png)
This is from a nu

[2021-04-19 10:26] j7126 commented on #272
Hi @arimb, can you please verify what you have currently set in
Settings > Dashboard > Layer Duration Graph > Visibility > Clear on
Additionally if you could upload your octoprint.log and also check if there are any errors in the browser console it would be helpful.

[2021-04-19 10:30] arimb commented on #272
Here's what I have for visibility settings:
![image](https://user-images.githubusercontent.com/13023392/115222149-185b0180-a113-11eb-8ee9-a1c98d801ebc.png)

No errors in the browser console. Here's my octoprint.log:
[octoprint.log](https://github.com/j7126/OctoPrint-Dashboard/files/6335247/octoprint.log)

[2021-04-19 11:01] arimb commented on #272
I tried changing the "clear on" setting to "print start" and now it seems to be clearing the graph properly (at the start of each print instead of at the end). I'm fine to leave it that way so you can close the issue if it was just a problem for me.

[2021-04-25 07:46] LazeMSS commented on #268
@tutanra  will this be released soon?

[2021-04-25 08:24] j7126 commented on #268
@LazeMSS, I think you may have meant to @ myself or @Willmac16, @tutanra only reported the issue.

Anyway I had though that this had been released a while ago but i guess not. I will release it now.

[2021-04-25 11:26] j7126 commented on #266
This issue is caused by an underlying issue in Themeify, I can see you have already reported this issue here https://github.com/Birkbjo/OctoPrint-Themeify/issues/88.

I have submitted a pull request to Themeify to fix this issue here https://github.com/Birkbjo/OctoPrint-Themeify/pull/121.

If the developer of Themeify @Birkbjo, accepts my changes and releases it the issue will be fixed.

In the me

[2021-05-01 19:35] KenLucke opened #273 "Return to Top always returns to top of Dashboard instead of current tab"
**Describe the bug**
When clicking on the "Return to Top" arrow (lower right) when scrolled all the way to the bottom of a screen, it always takes you back to the top of the **Dashboard** tab instead of the top of whatever tab you happen to be in.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to a tab other than Dashboard
2. Scroll to bottom
3. Click arrow bottom right ("Top" arrow)
4.

[2021-05-01 21:22] Willmac16 commented on #273
@KenLucke do you know what plugin is providing the scroll to top button (I don't believe it comes with stock octoprint)?

[2021-05-01 22:24] KenLucke commented on #273
I thought (ass/u/med) it was Dashboard, which was why I posted the bug here.

[2021-05-01 23:55] j7126 commented on #273
@KenLucke as @Willmac16 said, I can confirm that this return to top button is not part of dashboard and it is probably coming from one of the other plugins you have installed.

Could you inspect element on the return to top button and send a screenshot of what you see there and we might be able to figure out where it is coming form.

[2021-05-02 00:30] j7126 commented on #273
@KenLucke after further investigation it seems that this return to top button comes from the [Floating Navbar](https://github.com/jneilliii/OctoPrint-FloatingNavbar) plugin. I have notified @jneilliii of this issue.

[2021-05-02 00:54] jneilliii commented on #273
and a new version was just released to resolve the issue.

[2021-05-02 01:12] KenLucke commented on #273
You guys are fast. :)

[2021-05-02 02:15] #273 closed

[2021-05-02 02:16] #272 closed

[2021-05-05 04:49] jrmoserbaltimore commented on #249
I'd like to see a few things.  The temperature graph is a definite one if you're replacing the UI.

I actually would like to see a graph of TX speed, especially if integrated with MeatPack.  Currently it just divides the entire amount sent by the entire print time, so when you wait 10 minutes to heat up and level the bed in an 8 minute print you get a pathetically-low TX measure.  Sometimes I see

[2021-05-09 11:32] exotolon commented on #249
Great work with v1 of your plugin!
I use the dashboard alot in fullscreen - especially as it gives me a quick overview over erverything including a webcam view of what's going on (the printer is in a seperate room).

I'd love to be able to hde the filename - which is irrelevant info for me. Otherwise the number of (total) layers and (final) height is cut off.

[2021-05-12 07:25] scaramonga opened #274 "Settings layout weirdness"
**Describe the bug**
Settings all squeezed together as in screenshot

**OctoPrint server and Plugins:**
 - Platform: RPi 4b
 - OS and version: Raspberry OS (latest), Windows 10
 - OctoPrint version: 1.6.1
 - OctoPi version: 0.18
 - Python version 3.9.0
 - Dashboard version 1.18.2
 - DisplayLayerProgress version 1.26.0

**Desktop (please complete the following information):**
 - OS and version: Win

[2021-05-12 21:33] help137 opened #275 "Webcam not appearing with 1.18.x"
OctoPi 0.17.0
Octoprint v1.4.2
Camera: RasPi Cam

As of upgrading to the 1.18.2 release (from 1.17.0) the webcam no longer appears on the dashboard, the swirling "loading" circle just goes on forever. The camera shows up as normal on the Control tab.

Downgrading to 1.18.1 did **NOT** resolve the issue

Downgrading to 1.17.0 **DID** resolve the issue.

Log Attached.
[octoprint.log](https://github.

[2021-05-12 21:53] Willmac16 commented on #275
@help137 Does the webcam view load if you click the "hide webcam" button twice. Also, could you share a log from your browser **AND** what inspect element shows for the webcam block src attribute (something like this)
<img width="457" alt="image" src="https://user-images.githubusercontent.com/27445690/118048811-ae103800-b331-11eb-97ec-c8164f797b29.png">

[2021-05-12 22:11] Willmac16 commented on #275
@help137 Also, is there a particular reason you are running octoprint v1.4.2 instead of a more recent version? If there is no particular reason, then I would recommend you upgrade.

[2021-05-12 22:13] help137 commented on #275
Neither the Toggle Webcam, Full Browser Window nor Full Screen buttons cause the camera view to show, the "loading" swirl continues regardless (It disappears if the Toggle button is used, but just comes back when it's clicked again).

Re browser logs - To the best of my knowledge, the closest thing Firefox has to a log is a Crash Report and since there is no crash, there is no report.

Inspect Ele

[2021-05-12 23:15] j7126 commented on #275
@help137 you can view the browser logs by visiting the console tab at the top when you are in the inspector.

[2021-05-13 01:07] help137 commented on #275
Ah, Thank you.

Seems to be full of this one over and over.

`Uncaught ReferenceError: determineWebcamStreamType is not defined
    _switchWebcam http://192.168.42.106/static/webassets/packed_plugins.js?3f921630:2014`

[2021-05-13 01:19] Willmac16 commented on #275
@help137 awesome, I know what is going on here. I added HLS webcam support a while back for #255 but used some code in octoprint that must not be there in 1.4.2 in a way such that no webcams work. If you want your system to work right now, then you can upgrade your version of octoprint (assuming there is nothing blocking your update). Otherwise/for others, I can take a look at making the his suppo

[2021-05-13 01:28] help137 commented on #275
I'll have to vote for the fix. My system is on older RPi hardware and is stable, I've no desire to risk breaking it before I get the newer Pi 4B with the latest version that I've got set aside finished. Plugins are (usually) easy to roll back, rolling back the base system is a PITA. :)

[2021-05-13 03:10] Willmac16 commented on #275
@help137 Install with url `https://github.com/j7126/OctoPrint-Dashboard/archive/refs/heads/development.zip` and your bug should be fixed--I rolled back my test instance and didn't see any issues.

[2021-05-13 03:36] help137 commented on #275
That seems to have done the trick, thank you.  I had some odd issues installing it though. The install seemed to go ok, but the issue was still present after the mandatory restart and when I looked in the plugin manager it was listed as "pending install" and "needs restart", even though I had restarted after the install. I restarted again, no change, then rebooted, still no change. It finally kick

[2021-05-13 03:38] Willmac16 commented on #275
It could be, but since the changes were only in a static js file, what your really may have needed was a force refresh in your browser.

[2021-05-15 20:16] Willmac16 commented on #271
![image](https://user-images.githubusercontent.com/27445690/118376821-36cfe380-b57f-11eb-8f8c-03f8e79118ff.png)
I got UICustomizer support working (and cleaned up some minor theming glitches), but I am adding this alongside other changes for 1.19. I will let you know when a working early version of 1.19 is ready to be tested.

[2021-05-15 20:38] Willmac16 commented on #271
@philder I was able to move the code over to the dev branch, so you can install with the url `https://github.com/j7126/OctoPrint-Dashboard/archive/refs/heads/development.zip` and try it out.

[2021-05-16 07:30] j7126 commented on #274
Hi @scaramonga could you please check for any errors in the browser console.

[2021-05-17 23:34] j7126 commented on #271
currently as far as i can tell, this method only works with the red night theme

[2021-05-18 01:21] j7126 commented on #271
I have submitted a PR to UI Customizer to add css variable support to a few more themes.

LazeMSS/OctoPrint-UICustomizerThemes#19

[2021-05-18 01:26] #269 closed

[2021-05-18 01:31] j7126 commented on #261
This is a good idea, I will have to look into it.

[2021-05-18 01:34] #266 closed

[2021-05-23 19:51] Doormat1 opened #278 "Dashboard not showing layer progress"
Im not sure what the issue is, whether its a slicer issue or a Dashboard issue, but as you can see I dont get any layer progress features on dashboard.
![Dashboard view](https://user-images.githubusercontent.com/68517771/119274606-a80b3880-bc08-11eb-8ac6-cc68029ab070.png)

[2021-05-23 19:53] Willmac16 commented on #278
@Doormat1 What version of Dashboard is this? And do you have Display Layer Progress installed?

[2021-05-23 20:00] Doormat1 commented on #278
I have display layer progress installed and it is 1.18.2

On Sun, 23 May 2021, 20:53 Willmac16, ***@***.***> wrote:

[2021-05-23 20:40] Willmac16 commented on #278
@Doormat1 Can you share your octoprint.log and a browser log

[2021-05-24 16:17] Doormat1 commented on #278
Here is the octoprint log. Not sure how to get a browser log

On Sun, 23 May 2021 at 21:40, Willmac16 ***@***.***> wrote:

[2021-05-24 16:22] Willmac16 commented on #278
Can you upload it on GitHub, since it doesn't seem to have gone through.

[2021-05-24 17:49] Doormat1 commented on #278
[octoprint.log](https://github.com/j7126/OctoPrint-Dashboard/files/6534071/octoprint.log
Here it is

[2021-05-24 19:27] maruhe opened #279 "Display FeedRate like LayerDuriation-Graph"
the current Widget to show Feedrate and avg. Feedrate is nice but I'm missing some Numbers to see the precise values

so an easy solution for me would be to add current and avg. Feedrate as Text

the perfect solution would be an additional grpah like "LayerDuriation" showing on line for current Speed and one line per avg. value

[2021-05-25 19:28] Doormat1 commented on #278
I guess Dashboard relies on Display Layer Progress which seems to require Print time genius to work properly, as Ive run M503 on my printer and now Im getting a star next to g code files and Im getting max z height.

[2021-05-25 19:31] Willmac16 commented on #278
Dashboard is moving away from requiring Display layer progress (so the max height would work without either of them), but dashboard will probably continue to benefit from print time genius since gcode simulation of that level is out of scope for dashboard.

[2021-06-02 19:19] Doormat1 commented on #278
I had analysis set to only when Idle, have changed it to always now and PTG seems to be working fine as dose Dashboard now.

[2021-06-06 12:35] ItsDominator opened #281 "Can’t configured dashboard and status bar don’t Show Progress"
Hi all,

Want to check the raspi temperature today but don’t see it on dashboard. Also the progress in the status bar in top of the side is not shown as before.

If I deactivate the dashboard plugin, the Progress stays in the status bar.

I deinstalled the dashboard plugin and install it complete new, same problems.

System and plugins on newest stable version.

![C200F07C-7072-4B05-B4B7-8EE31B041

[2021-06-06 14:36] Willmac16 commented on #281
@ItsDominator looks like Dashboard is running into and error and won't properly render. Does this error show up on other devices/browsers? If so please send us a browser log so we can address the issue. Otherwise you would have to attempt to get browser logs off of your iOS decice which may take more effort.

[2021-06-12 13:00] ItsDominator commented on #281
After a reboot I can configure the Dashboard again and get the details as before. So I don’t find a issue jet at the Moment.
thank you!

[2021-06-12 13:00] #281 closed

[2021-06-16 11:14] Xiondewah opened #282 "Widget Settings Missing"
Could you give me some examples of what goes into the widget settings fields please?  All I seem to get is an empty box that I can't type anything into and I can't see what to use them for.

Thanks!

[2021-06-16 11:16] j7126 commented on #282
I am not exactly sure which box you are referring to. Can you send a screenshot of the issue?

[2021-06-16 11:59] Xiondewah commented on #282
Sorry - I should have done that!

![image](https://user-images.githubusercontent.com/50043329/122215024-aac51a80-cea2-11eb-810c-e82750a3da0d.png)

[2021-06-16 12:24] j7126 commented on #282
Well it looks like the settings are missing for some reason. Does this happen to the settings for all the widgets or is it just one of them?

Can you check for any errors in the browser console and also upload your octoprint.log file?

[2021-06-16 12:27] Xiondewah commented on #282
Yes it happens for every widget.

How do I check in the browser console?  Log attached.

[octoprint-2.log](https://github.com/j7126/OctoPrint-Dashboard/files/6662969/octoprint-2.log)

[2021-06-16 12:28] j7126 commented on #282
You can check the console by right clicking somewhere on the page, then press inspect, then the console tab at the top

[2021-06-16 12:30] Xiondewah commented on #282
[Error] Failed to load resource: the server responded with a status of 404 (Not Found) (eeprom_marlin.css.map, line 0)

< <div class="modal-body form-horizontal" data-bind="foreach: settings" style="overflow: auto; max-height: 433px;"></div>

Not sure if that's right or not - but it was an error.

[2021-06-16 12:35] j7126 commented on #282
What browser are you using, does this happen in other browsers?

[2021-06-16 12:39] Xiondewah commented on #282
I'm using Safari on Mac - only browser I have - but I have also checked it on my iPad and it's the same (though obviously that's also safari.

I do have the UI Customizer plugin installed - don't know if that's anything to do with it as there were a couple of glitches on other plugins at one point.

[2021-06-16 13:10] Xiondewah commented on #282
I just tried Chrome on my iPad and it’s the same I’m afraid.

[2021-06-28 13:45] jbeahan commented on #282
I am also missing the widget settings.  I am trying to add a second webcam to the dashboard.  Any other way to do this until the bug is fixed?  Any information I can provide to assist?

[2021-06-28 22:36] #278 closed

[2021-06-29 21:59] jbeahan commented on #282
I went through and disabled all plugins, enabled one at a time, and determined the conflicting plugin in my case was "GCODE System Commands (1.0.1)" by Shawn Bruce

[2021-06-29 23:04] j7126 commented on #282
@jbeahan that's very helpful. I will look at making a fix sometime later today or tomorrow.

[2021-07-01 07:20] j7126 commented on #282
Can you please check if the settings for the following widgets show up:

- progress gauges
- layer duration graph
- filament widget

[2021-07-01 10:05] j7126 commented on #270
Ready for 1.18.3

![image](https://user-images.githubusercontent.com/35882868/124106169-4d86b700-daa7-11eb-8084-896a219af540.png)

[2021-07-01 10:09] j7126 commented on #279
Seems like a good idea.

[2021-07-01 10:10] j7126 commented on #274
Closing due to inactivity

[2021-07-01 10:10] #274 closed

[2021-07-01 13:14] j7126 commented on #271
Theming from UI Customizer themes is included as of 1.18.3

It would probably be a good idea to add a setting for custom colors as well at some point to be honest.

[2021-07-01 13:14] #270 closed

[2021-07-01 13:14] #275 closed

[2021-07-01 13:15] j7126 commented on #282
I have released a fix in 1.18.3

[2021-07-01 13:15] #282 closed

[2021-07-01 14:23] jbeahan commented on #282
I can confirm this fixed the issue!  Thank you so much for your prompt response!!!!

[2021-07-02 08:36] Xiondewah commented on #282
Yes - thanks for the fix :-)

[2021-07-03 07:24] Xiondewah commented on #282
Just updated - all working now.  Thanks very much :-)

[2021-07-05 22:52] StarNamer opened #283 "Layer Durations graph does not start from zero for follow-on print jobs"
**Describe the bug**
The layer duration graph does not clear and start from zero but simply continues from wherever it was at the end of the last job

**To Reproduce**
1. Print a job.
2. Print a second job.
3. The graph is not zeroed.

**Expected behavior**
When a new job is started, the graph should start at zero.

**Screenshots**
![image](https://user-images.githubusercontent.com/1997874/1245219

[2021-07-06 01:47] Willmac16 commented on #283
In Dashboard 1.18, layer duration data comes from Display Layer Progress, so if the graph is continuing on that is possibly related to DLP. For 1.19 Dashboard, moves to use its own layer backend so the issue may disappear. I'll keep my eye out for it and make sure the graph is properly clearing.

[2021-07-06 01:51] j7126 commented on #283
I think there might be an issue in the clear on print end logic.

@StarNamer can you please try going to `Settings > Dashboard > Layer Duration Graph > Visibility > Clear on` and setting it to clear on print start.

[2021-07-06 01:52] j7126 commented on #283
I think this is the same issue as  #272, looks like it just never got fixed.

[2021-07-06 02:00] lloydbigoil commented on #106
i have this same issue on an iPad trying to run the dashboard via local network

[2021-07-06 02:05] Willmac16 commented on #106
@lloydbigoil If you have the same visual appearance that means that there was a knockout binding issue preventing the whole Dashboard tab from rendering. If you could get us a browser log (I believe by plugging into a Mac with usb for iPadOS Safari), we would be able to debug the issue.

[2021-07-06 02:08] lloydbigoil commented on #106
damn, pc only here. same problem on iphone 6 safari too, wanted to use one as my browser.

[2021-07-06 02:10] Willmac16 commented on #106
@lloydbigoil does the issue pop up on pc? I know some code that doesn't play nice with older iPads snuck into octoprint a while ago. If you can, update octoprint.

[2021-07-06 02:13] lloydbigoil commented on #106
Fully up to date. ran all update via the gui then  ssh and ran update and upgrade. only downloaded the plugin recently from the octoprint plugin store.

[2021-07-06 02:13] lloydbigoil commented on #106
also no my desktop running windows 10 or ubuntu 20 is fine

[2021-07-06 02:15] Willmac16 commented on #106
@lloydbigoil What gen IPad is it?

[2021-07-06 02:15] j7126 commented on #106
@lloydbigoil if you are running the latest version of dashboard (1.18.3) it _should_ log the fontend errors to octoprint.log so you could try to upload your octoprint.log. The new logging feature has not been tested yet to may or may not work.

[2021-07-06 02:24] lloydbigoil commented on #106
4th Gen

4th gen.

i checked the log, then made sure to reproduce the error on the ipad. the log only shows this https://pastebin.com/AZwzscQK for my ipad connecting and then disconect. confirmed this is the iPad looking at the ip address in general

[2021-07-06 14:49] LeBress opened #284 "Translation"
Hello,
When do you manage the language translations. I would like to translate it into French.

[2021-07-06 16:24] Willmac16 commented on #284
@LeBress since we haven't done any translations yet it may take a few days to get things ready for you. Once we do, you would be working with a text document (you could even do it on GitHub) and giving a French translation for each snippet of English.

[2021-07-07 20:39] Willmac16 commented on #284
@LeBress if you wanted to get started you could work on [this file](https://github.com/j7126/OctoPrint-Dashboard/blob/c991260cd8467a4a3270b97bab23bfb6f93dbe54/translations/fr/LC_MESSAGES/messages.po). You will need to select the translations branch at the top left.
![image](https://user-images.githubusercontent.com/27445690/124825348-5b658d80-df28-11eb-81a0-1b0ca863e3eb.png)

Some of the snippets

[2021-07-10 09:54] LeBress commented on #284
Hello,
Here is my translation is finished, it is not perfect and incomplete for the moment. But I would like to see the result before going any further. Comment made on for the update of your plug-in in French.
@ +

----- Mail original -----
De: "Willmac16" ***@***.***>
À: "j7126/OctoPrint-Dashboard" ***@***.***>
Cc: "LeBress" ***@***.***>, "Mention" ***@***.***>
Envoyé: Mercredi 7 Juillet 2021 22

[2021-07-11 19:45] Willmac16 commented on #284
@LeBress I can't seem to see any translation. Could you try sending it via GitHub on the web rather than by email?

[2021-07-12 09:56] LeBress commented on #284
Hello,
Here are the messages.po and messages.mo files translated into French. Can you test them to see the different display issues. Thank you.
@ +

[messages.zip](https://github.com/j7126/OctoPrint-Dashboard/files/6800428/messages.zip)

[2021-07-12 17:27] Willmac16 commented on #284
![image](https://user-images.githubusercontent.com/27445690/125329324-3727f900-e2fa-11eb-8c60-b5514678e56c.png)
![image](https://user-images.githubusercontent.com/27445690/125329576-81a97580-e2fa-11eb-8ffd-9a8851222756.png)
![image](https://user-images.githubusercontent.com/27445690/125329444-5a52a880-e2fa-11eb-9f28-6d6c0c92d6a5.png)

cmd widget settings needs some fixes probably on my part
![imag

[2021-07-12 18:36] LeBress commented on #284
Thanks for the test, but there are display problems in other windows. Like you, I will take screenshots that will be more precise and more explicit about the problems.
@ +

[2021-07-12 19:57] Willmac16 commented on #284
I am getting this strange formatting
![image](https://user-images.githubusercontent.com/27445690/125340344-38abee00-e307-11eb-8e37-4530716f80b6.png)

I think most of the issues will be in the Info sections of individual widget's settings.

[2021-07-13 13:31] StarNamer commented on #283
Hi, Sorry for not getting back to you sooner., I only just checked the Clear setting and it was set to Ckear on Print End. I've set it to Clear on start and will let you know. I'm mid-print at the moment with a few hours to go.

[2021-07-14 19:10] Willmac16 commented on #284
@LeBress Check out the latest commit on the translations branch. I think I got it all working, however, I had to use a somewhat hacky workaround. I tweaked a few of the translations to match what the French language pack I installed went with, but I will leave the translating up to you.

For anyone who wants to work in the Jinja files, Babel only seems to pick up English strings from `{{ _('Englis

[2021-07-15 10:47] Xiondewah opened #287 "Display Thumbnail"
Because I use Dashboard primarily now, I don't have the 'Status' panel open.

As I print with multiple printers and instances of Octoprint, it would be really handy to see a small thumbnail of the print on the dashboard in the same way as it is displayed (with the additional plugins) on the Status panel.

Thanks.

[2021-07-15 15:17] Willmac16 commented on #287
@Xiondewah can you share what plug-ins you are using to get the thumbnail into the Status bar.

[2021-07-15 16:05] LeBress commented on #284
Hello,

Thank you for all the changes you have made so that the French language is better integrated into your plug-in.
Here are the updated message files.

[messages.zip](https://github.com/j7126/OctoPrint-Dashboard/files/6824564/messages.zip)

If I may, here are screenshots of a few issues still present.

I can't translate because I don't understand this sentence

![Annomalies](https://user-imag

[2021-07-15 16:38] Willmac16 commented on #284
@LeBress "Disable nonce for OctoPrint Webcam". Nonce is a one time use random bit of text stuck onto the end of the webcam url to ensure the image is current and not from a while ago. Since Dashboard has its own option to do multiple cameras this setting refers to the webcam configured in the octoprint webcam and Timelapse tab *not* the multiple webcams configured in Dashboard settings. I'm not su

[2021-07-15 17:02] Willmac16 commented on #284
@LeBress I'll get working on the not yet translated titles and let you know when I'm ready for you to translate them.

I believe the original rational for the nozzle label was for MultiExtruder setups so it would say `Tool 1` `Tool 2` etc., but it shouldn't be difficult to add the labels in for the other gauges.

Were there any other difficult to translate snippets?

[2021-07-16 06:11] Xiondewah commented on #287
Hi - sure - it's Cura Thumbnails - though there is also the Slicer Thumbnails plugin, not sure which is best :-)

[2021-07-19 19:24] Willmac16 commented on #284
@LeBress I found ~30 description strings that I had missed since they weren't formatted how I expected. They are ready to be translated now.

And I added description text to the other temp gauges. (It may still need some tweaking since the text is a bit doubled up).
<img width="617" alt="image" src="https://user-images.githubusercontent.com/27445690/126213718-82260ee9-cd6e-44b7-b2b2-ba9b10d00bce.p

[2021-07-25 23:09] StarNamer commented on #283
Apologies again for the slow response. I've done a few print now with the setting "Clear on Start" and it resolves the issue. Thanks.

[2021-07-30 02:27] JayRen78 commented on #249
I had made a thread in requests.  But I'd love to see something like this in 2.0

![OctoPrintMockUp](https://user-images.githubusercontent.com/88173419/127590658-6b5bda16-6a47-4177-bca0-51a393dc5578.jpg)

[2021-08-26 08:38] bertenvdb opened #290 "Fullscreen and Full Browser View broken when adding Webcam"
When I add the webcam to the dashboard, everything looks good in normal view. But Fullscreen and Full Browser View are broken.
The webcam seems both horizontally and vertically centered

**Steps to reproduce the behavior**
1. Go to Settings > Plugins > Dashboard
2. Enable Webcam widget
3. Open visibility options
4. Enable 'Show in fullscreen'
5. Save settings
6. Open Fullscreen or Full Browser Vie

[2021-08-30 00:46] #290 closed

[2021-09-16 02:42] WilfulTravesty opened #291 "System uptime and connected time"
**Is your feature request related to a problem? Please describe.**
This is not related to a problem, but it a request to add some minor useful information to the dashboard.

**Describe the solution you'd like**
As a Dashboard user I'd like it to display the Octopi system uptime as well as the printer connected time so that I can keep track of power issues, connectivity issues, and related issues t

[2021-09-16 03:06] j7126 commented on #291
You should be already able do display the uptime using command widgets. Command widgets shows the output of a system command, you can use a command such as `uptime -p` in a command widgets to get the system uptime.

I will look into adding printer connected time.

[2021-10-10 11:02] #271 closed

[2021-10-31 01:56] derekantrican opened #294 "Doesn't show up well in portrait orientation"
**Describe the bug**
Not sure if this is a bug report or a feature request, but when doing fullscreen with a monitor in portrait orientation, there's a lot of blank space and many controls are overlapping or tiny.

**To Reproduce**
1. Set up a monitor in portrait orientation via monitor settings
2. Open http://octopi.local/?dashboard=full#tab_plugin_dashboard (and press F11 if needed to get full e

[2021-11-03 21:29] vajonam opened #295 "Feedrate graph stroke too wide"
**Versions**
OctoPrint 1.7.2
Python 3.8.12
Dashboard: 1.18.3

**Describe the bug**
Looks like the feedrate dial graph width is buggered up.

**To Reproduce**
Steps to reproduce the behavior:

Enable Filament Settings

**Expected behavior**
Graph should like other graphs.

**Screenshots**
![Peek 2021-11-03 17-25](https://user-images.githubusercontent.com/152501/140195516-610838e3-a988-4186-92cc-fc3

[2021-11-03 21:32] vajonam commented on #295
This fixes the problem on Chrome inspector.

![image](https://user-images.githubusercontent.com/152501/140195902-c547f2e9-9cc8-4ebe-8131-d48563715409.png)

[2021-11-03 21:34] vajonam commented on #295
https://github.com/j7126/OctoPrint-Dashboard/blob/9b5bff518ab1ff133a5d126574e1457ea9cdd8e3/octoprint_dashboard/templates/dashboard_tab.jinja2#L444

[2021-11-04 00:07] j7126 commented on #295
Looks like this should be fixed in version 1.19.0

[2021-11-04 12:35] vajonam commented on #295
Software updates isn't showing the update yet. Once it does will test and close this. Thanks.

[2021-11-04 13:27] yannglevarec opened #296 "No more temperatures values in widgets since 1.19"
"Latest version"

**Describe the bug**
I’ve updated Octoprint Dashboard from 1.18.3 to 1.19 this morning. But since the temperature widgets display 0 degrees, even when printing

**OctoPrint server and Plugins:**
 - Platform: [e.g. RPi 4B
 - OS and version: Raspberry PI 0.18
 - OctoPrint version: 1.7.2
 - OctoPi version: 0.18
 - Python version 3.7.3
 - Dashboard version 1.19
 - DisplayLayerProgres

[2021-11-04 15:13] mikedmor commented on #296
Also Experiencing this,

It looks like temperature readings are showing 0 degrees across my entire octoprint instance.

[2021-11-04 15:37] mikedmor commented on #296
https://github.com/QuinnDamerell/OctoPrint-OctoEverywhere/issues/21

[2021-11-04 18:17] KenLucke opened #297 "Layer % Progress Thermometer alternates colors and shows too many digits/weird values"
Dashboard v 1.19.0

Been a while since I had to report anything significant here.  I didn't feel that reporting "gauges" spelled as "gagues" in the "other settings" tab was enough to bother with :)

**Describe the bug**
Layer progress thermometer alternates colors each update (background/foreground), and shows values with 3 extra (identical) digits that count up incrementally each update.  i.e., i

[2021-11-04 18:21] KenLucke opened #298 "Enclosure monitor remains even when marked disabled in settings"
Dashboard v 1.19.0

**Describe the bug**
Despite the "Enclosure Gauges" being disabled in the settings:
<img width="858" alt="image" src="https://user-images.githubusercontent.com/57936294/140397106-692abe9d-2845-4abc-8cbb-47bd58cc7e77.png">
The gauge still shows up in the main display:
<img width="915" alt="image" src="https://user-images.githubusercontent.com/57936294/140397277-f241a9bf-a703-4af

[2021-11-04 23:43] KenLucke opened #299 "Tick marks on the Feedrate indicator"
Can we get tick marks on the feed rate indicator, too?

[2021-11-04 23:49] KenLucke commented on #298
I was able to remove it by deleting it in this setting panel:

<img width="573" alt="image" src="https://user-images.githubusercontent.com/57936294/140435696-2928c0c6-6a86-48c1-9b5a-7ecdca43cae9.png">

[2021-11-05 01:06] j7126 commented on #297
Can you please specify what slicer and slicer version you are using and send the gcode file that you were printing when this occurred.

[2021-11-05 01:21] j7126 commented on #298
You were referring to this one correct?
![image](https://user-images.githubusercontent.com/35882868/140442368-16a664c5-a312-47aa-bb47-0bd81c2e1b98.png)
That is from the command widgets, as you said you removed the command widget, however you could have also disabled the command widgets in general.
Command widgets now have the option to appear as a temperature gauge.

[2021-11-05 01:21] #298 closed

[2021-11-05 01:22] j7126 commented on #299
probably

[2021-11-05 01:24] #296 closed

[2021-11-05 01:26] #295 closed

[2021-11-05 01:27] j7126 commented on #287
added in 1.19.0

[2021-11-05 01:27] #287 closed

[2021-11-05 03:00] SaKiEQ opened #300 "Since update OP 1.7.2 Dashboard 1.19.0 Upload via Cura not stored on external folder"
When sending a file from Cura, the file appears in Octoprint Dashboard and can be printed, but on second attempt to print or when returning / restarting Octo the file disappears, while all previous files (before 1.7.2) are still correctly listed.

I am using external load folder path to a NAS on the same LAN, mounted on the PI. I can see a file being stored on the NAS but with its file name in 'fi

[2021-11-05 09:11] JWRu opened #301 "Since update to 1.19.0 dashboard shows wrong fan speed"
Dashboard shows 0% although the fan is running at 30%.
Everything was ok with the previous release.

[2021-11-05 14:38] vajonam commented on #301
Yup seeing the same.

[2021-11-05 14:42] vajonam opened #302 "1.19 breaks Layer and Height graphs"
Since update to 1.19.0. Layer and Height graphs aren't reading any values.

![image](https://user-images.githubusercontent.com/152501/140528721-19379721-1356-4268-9022-ded9824ff2f9.png)

[2021-11-05 17:02] KenLucke commented on #297
Using Cura 4.12 (beta), but I've been using that for some time without this issue, I just upgraded Dashboard through the regular upgrade route (notification, "Update Now" dialogs) before this happened.  I cannot share the file, as it's from a NDA protected proprietary model.  I might be able to just send the first two layers.

[2021-11-05 17:37] Fredyy90 commented on #297
Same issue here, using Cura 4.
[CE3_PETG_glasses_stand.zip](https://github.com/j7126/OctoPrint-Dashboard/files/7487908/CE3_PETG_glasses_stand.zip)
11

[2021-11-05 17:42] KenLucke commented on #297
Oh, good, it's always good to see others have the same issues - not that it's good that they have the issue, but good to know I'm not alone, not crazy, and it's not just my system :) :) :)

[2021-11-05 17:52] Fredyy90 commented on #297
worked fine before the plugin update, seems like it doesn't detect the layer changes anymore, my dashboard shows that i'm still on layer 0 with 61k% when i should be at layer 57 and ~50%.
![image](https://user-images.githubusercontent.com/1572327/140556073-b78661a9-74e0-4118-9b72-5af1ff09e292.png)

[2021-11-05 17:53] joaquinabian commented on #301
Confirm the same. After last update, the fan shows always as 'Off'

[2021-11-05 18:06] ChuckRider commented on #297
Mine is working fine.  Pi4 with Klipper running on the same device.  I
left all my other plugins in place.  The only config change I made was
to turn off the enviornment temp in the command widgets section.

Frederick Behrends wrote on 11/5/2021 12:52 PM:

<https://www.postbox-inc.com>

[2021-11-05 18:12] joaquinabian opened #303 "Octoprint and Dashboard see different total and current layer numbers"
**Describe the bug**
Octoprint and Dashboard see different total and current layer numbers

**To Reproduce**
Steps to reproduce the behavior:
1. Start a print in OctoPrint and select the Dashboard tab
2. Number of total layers, and current layers are different in Octoprint/State and on Dashboard.

**Expected behavior**
Expect the same values.

**Screenshots**
Screenshot attached.

![different_laye

[2021-11-05 20:59] chefjeremylv commented on #297
Having a similar issue where the print starts normally, and soon the layers start going up way too fast and and the print appears to speed to 100 percent and octo goes idle but the print is just stopped dead. Ran it a second time and had the exact same result (see attached photo). Those were supposed to be about 5 inches tall.
Sliced using cura 4.11 (same file works when printed from USB)
Octo 1.7

[2021-11-05 22:17] mnunez021 opened #304 "Fan Speed"
**Describe the bug**
The Dashboard isn't showing the Fan Speed. The Fan continues to say 0%

I don't know what else to report.

[2021-11-05 23:14] balu2609 commented on #301
Same here

[2021-11-05 23:16] j7126 commented on #304
Duplicate of #301

[2021-11-05 23:16] #304 closed

[2021-11-05 23:37] j7126 commented on #302
Hello, can you please let me know what your slicer and version is, and upload your octoprint.log and the gcode file that you were printing.

[2021-11-05 23:41] MasterYod4 commented on #301
Same here

[2021-11-05 23:41] MasterYod4 commented on #303
Same here

[2021-11-05 23:42] j7126 commented on #301
I am working on a fix for this

[2021-11-06 00:22] j7126 commented on #297
@chefjeremylv that does not appear to be the same as this issue. Please post in a new thread

[2021-11-06 00:34] KenLucke opened #305 "Add minimum temps for dials"
**Is your feature request related to a problem? Please describe.**
Not a problem, per se, just a request.  As my printers sit in a normally room-temperature room (sometimes even higher than norm, because my furnace and hot water heater are nearby), the temperature dials waste space at the bottom end of the range going all the way to 0°, because my printers, both hotend and bed when cooled, never d

[2021-11-06 00:40] j7126 commented on #297
Can you please try re-uploading the gcode files and trying again? It is possible that dashboard just needs to re-analyze the files.

[2021-11-06 00:46] chefjeremylv commented on #297
Yes, I'll replicate the issue tomorrow and take a screen shots etc and make
a new post.

On Fri, Nov 5, 2021, 5:40 PM Jefferey Neuffer ***@***.***>
wrote:

[2021-11-06 00:57] KenLucke commented on #297
I can't for a few days.  That printer (and that job) are doing a 6.5 day print right now.

[2021-11-06 00:58] j7126 commented on #297
was the file already on the octoprint server before the update or did you upload it after the update?

[2021-11-06 00:59] KenLucke commented on #297
After.

[2021-11-06 01:04] j7126 commented on #297
Hmm, interesting. Can you make a backup of your OctoPrint instance (excluding uploaded files and timelapses) and send that?

[2021-11-06 01:07] KenLucke commented on #297
Again, I'll have to wait until this print finishes, but I can do it then.

[2021-11-06 01:08] j7126 commented on #297
i think you can make backups during a print

[2021-11-06 01:25] #283 closed

[2021-11-06 01:39] #303 closed

[2021-11-06 01:40] #301 closed

[2021-11-06 01:45] KenLucke commented on #297
Possibly, but it takes resources away from the print, and I have to have this done properly first time, on time.

[2021-11-06 01:50] j7126 commented on #300
Please verify that the user octoprint is being run by has full permissions to access those files.

[2021-11-06 01:54] appleimperio commented on #300
I'm having exactly the same issue but from Prusa slicer

[2021-11-06 02:02] SaKiEQ commented on #300
Well it works when using Octoprint without Dashboard plugin. File uploads from Cura, displays in Octoprint UI, stores on NAS and prints just fine. So I somewhat doubt there are basic user permissions issues, unlike Sudo would be required - which I can't enable for Dashboard, unlike some other plugins.

The same error persists when a .gcode file is exported and uploaded directly via OctoPrint/Dashb

[2021-11-06 02:05] appleimperio commented on #300
Thanks for that I was waiting for my print to finished to try that test. Good to know.

[2021-11-06 02:06] SaKiEQ commented on #300
Oh and previous version to 1.19.0 that I had installed had no such issues. Nothing on the Pi nor network has changed, apart from the OctoPrint update to 1.7.2 - where the OP folks says its a plugin error not and OP error.

[2021-11-06 02:14] appleimperio commented on #300
He release a new version 1.19.1 did you try it?

[2021-11-06 02:14] j7126 commented on #300
1.19.1 does not fix this

[2021-11-06 02:14] j7126 commented on #300
I am now investigating the problem

[2021-11-06 02:16] j7126 commented on #300
what is your octopi / os version?

[2021-11-06 02:18] appleimperio commented on #300
latest Octoprint running in Docker  64bit

[2021-11-06 02:19] SaKiEQ commented on #300
the user privileges of the mount are pi:root, as normal when auto mounted by the system, all files stored previously within the folder have the same pi:root rights (drwxr-xr-x).

My OP is running direct on a Pi (venv).

[2021-11-06 02:23] SaKiEQ commented on #300
My system info:

browser.user_agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.1.2 Safari/605.1.15
connectivity.connection_check: 1.1.1.1:53
connectivity.connection_ok: true
connectivity.enabled: false
connectivity.online: true
connectivity.resolution_check: octoprint.org
connectivity.resolution_ok: true
env.hardware.cores: 4
env.hardware.f

[2021-11-06 02:25] SaKiEQ commented on #300
I tried pretty much every combination like using file names without empty spaces, single words, turning Cura thumbnails off, disabling thumbnail plugin, without changes.

Of corse running OP in Safe mode makes the problem go away, since it also does not load plugins (such as Dashboard).

My best guess its a parsing error of the file path/name.

[2021-11-06 02:34] Kaicura commented on #300
There is a Bug in version 1.19. 0  and 1.19.1. no gcode Uploads whit cura or drag and drop chrome.
![Dashboard_update](https://user-images.githubusercontent.com/65878296/140594993-3657e8ba-10ab-422c-83c8-aaccc7ef1cc5.JPG)
Going back to 1.18.3,works perfect .
System Info :
browser.user_agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/

[2021-11-06 02:40] j7126 commented on #300
It appears that this is being caused by an "invalid cross-device link" error which is being caused by certain python modules used by dashboard to interact with the filesystem not supporting operations between different file systems.

[2021-11-06 02:48] Kaicura commented on #300
?
![image](https://user-images.githubusercontent.com/65878296/140595467-a5e16360-3e40-4cf3-ab5a-e634136a64fd.png)

[2021-11-06 02:50] SaKiEQ commented on #300
Would make sense in my case, as the storage path leads to QNAP NAS on the LAN, which I know can be fidgety with SMB.

But having said that, it worked in previous version, while the system was already on Python3.7.

What is Dashboard doing different in regards to storage path, then Octoprint on its own ?

[2021-11-06 02:51] appleimperio commented on #300
I downgrade the Dashboard plugin version from 1.19.0 to 1.18.3 and is working fine I still have others bugs like the wrong layer number but at least is not deleting the files.

[2021-11-06 02:56] appleimperio commented on #300
@Kaicura your problem seems to be a bit different since in your logs your having an I/O error and that usually means problems with you storage. In our case we can upload the file but the it gets deleted it seems you can't even get the file uploaded.

[2021-11-06 02:59] Kaicura commented on #300
Upload works  fine  in v 1.18.3,i downgrade it

[2021-11-06 04:01] SaKiEQ commented on #294
The whole octoprint UI is a bit awkward in terms of either orientation. Landscape there is too much left and right space wasted and portrait is just an even worse compromise.

Would be super nice if the individual areas, or even elements are draggable and scalable to layout as best suited.

I keep zooming the browser to see some detail in the camera feed, but then loosing the other elements out of

[2021-11-06 05:50] j7126 commented on #300
This is a very strange issue as it seems that shutil.move is failing when it tries to open the destination file with a no such file or directory error, even though it should not as I have verified that it is present.

I have made a fix so that it will work for all files uploaded since the update, however the error is currently still occurring for any files uploaded before the update.

[2021-11-06 05:54] j7126 commented on #300
I have release 1.19.2
This error should no longer happen for any files that you upload after updating to 1.19.2

[2021-11-06 05:54] #300 closed

[2021-11-06 05:59] SaKiEQ commented on #300
I haven't looked into shutil.move it self yet, but I know on a NAS or SMB mount there can be issues when a function like 'copy' checks if there is enough remaining space available, which works fine on a native system but not so nice on mounts. Not saying this is the case with Dashboard, just something I have seen in past...

But thanks so far :)

[2021-11-06 06:00] j7126 commented on #300
the reason why it is strange is that shutil.move is specifically intended to be able to move between different filesystems

[2021-11-06 06:17] SaKiEQ commented on #300
yeah well - maybe Forrest Gump had it right - "shit happens" - when it comes to my QNAP NAS and SMB implementation nothing surprises me.... and a NAS sole purpose is to host files, yet its not all sunshine on QNAPS.

At first I thought it was a combination of issues on my end, but apparently others have the same error, plus you can reproduce it too.`

`is shutil.move native Python3.7 or still lega

[2021-11-06 06:19] j7126 commented on #300
it is a builtin python module
https://docs.python.org/3/library/shutil.html
https://docs.python.org/2/library/shutil.html

[2021-11-06 06:34] Fredyy90 commented on #297
cant really say, i updated via cura and opened octoprint interface, don't remember if i updated before or after.
i downloaded the file form octoprint, renamed, reuploaded and started a new print for Layer 1, everything looks fine.
![image](https://user-images.githubusercontent.com/1572327/140600114-51649b51-121a-4772-b286-11e230f85414.png)
even at layer 2 it works now, layer progress is correct an

[2021-11-06 07:19] SaKiEQ commented on #300
Cool thanks - will spelunk around with it a bit... seems a quiet versatile utility !

I will write a few python scripts, so i can poke the system. Then i can see if the console log on the NAS also reveals something of interest...

[2021-11-06 07:22] j7126 commented on #300
cool, I should clarify that dashboard is not actually directly calling any shutil methods, but instead calling an octoprint method which does, and which _should_ work because it works fine when it is called elsewhere but 🤷

[2021-11-06 07:39] SaKiEQ commented on #300
Ha.... and I was being told off when I 'blamed' OctoPrint at the start, when I filed the first bug report there.

Ironic !

Maybe the @jneilliii could have another look at it from the OP side.

[2021-11-06 07:41] j7126 commented on #300
I am not saying that it is necessarily the fault of octoprint, it could be something do do with how it is used, but i couldn't figure it out

[2021-11-06 07:44] j7126 commented on #300
OctoPrint/OctoPrint#4305

[2021-11-06 07:45] SaKiEQ commented on #300
As I was saying at the very top, maybe just a path issue... sometimes a simple trailing '/' in the path is required in one function and in the other it throws an error.

[2021-11-06 07:45] j7126 commented on #300
I don't think that is the case as I have checked the paths

[2021-11-06 07:48] SaKiEQ commented on #300
just a thought - hence me saying I will play with singular script later to see if I get similar errors when manipulating files on my mount - without going through OP, then at least I can rule out configuration issues with the venv or user permissions.

But before that I will try some sleep..... I am about 20h past my bed time now :)

[2021-11-06 07:54] Fredyy90 commented on #297
![image](https://user-images.githubusercontent.com/1572327/140602487-3a1e2f8a-4f06-4709-9398-d9771713644d.png)

seems to work fine now, even after multiple layers everything works as expected, only issue i still have is: https://github.com/j7126/OctoPrint-Dashboard/issues/301

[2021-11-06 07:55] j7126 commented on #300
The error occurs at the last line here, and as far as I can tell this is all being used correctly

[code]

and `self.createFilePreProcessor` returns an `octoprint.filemanager.util.StreamWrapper` and `self.createFilePreProcessor` does work correctly when called by the `octoprint.filemanager.preprocessor` hook

this only occurs when it is a mounted CIFS or similar filesystem

[code]

Relevant parts:

[2021-11-06 08:02] SaKiEQ commented on #300
'//sakieNAS.local/printNAS /home/pi/NASstorage  cifs  user=octo,uid=pi,password=######,iocharset=utf8'

Thats my mount and CIFS indeed.

[2021-11-06 08:05] SaKiEQ commented on #300
are doing this a the pi or root user ?

[2021-11-06 13:06] jneilliii commented on #300
Yeah, permissions denied error is what I mentioned before in the other ticket, but don't think @SaKiEQ picked up on it. You have to use linux commands after connecting the device to configure permissions to grant the `pi` user writes to write data I think.

[2021-11-06 14:19] SaKiEQ commented on #300
@jneilliii Sure I picked up on it, but since I did 'chmod -R 777 NASstorage' and 'chown -R pi NASstorage' on the entire file path just for good measure so it could be excluded as an problem, yet the problem still persists....

While Octorprint seems fine writing to the same directory on its own, its weird that a plugin can not.

[2021-11-06 15:04] vajonam opened #306 "ellipsis for long file names"
is it possible to add ellipsis to long file names. I can provide a PR if you like.

![image](https://user-images.githubusercontent.com/152501/140614134-29201ebd-5b7e-43d2-a4a9-7d242d01feb6.png)

Here is a solution you can use
https://stackoverflow.com/questions/831552/ellipsis-in-the-middle-of-a-text-mac-style

This looks like a function that will work.
[code]

[2021-11-06 15:09] vajonam commented on #302
I am using the SuperSlicer 2.3.57. This was working prior to 1.19.0.

Attached are slicer and logs.

[BrushHolder-BinderClips_v4-Corner-Extended_PETG_0.16mm.gcode.zip](https://github.com/j7126/OctoPrint-Dashboard/files/7490687/BrushHolder-BinderClips_v4-Corner-Extended_PETG_0.16mm.gcode.zip)

[octoprint.log.zip](https://github.com/j7126/OctoPrint-Dashboard/files/7490694/octoprint.log.zip)

[2021-11-06 15:12] vajonam commented on #302
Possibly also coincides with the 1.7.2 octoprint upgrade.

[2021-11-06 18:41] zebons commented on #302
same issue here with Dashboard plugin version 1.19.0 and Octoprint 1.72
![image](https://user-images.githubusercontent.com/51046171/140620385-0a75018b-4e84-40ad-b704-d95104bd8b70.png)
As you can see the total number layer isn't shown (however it's good for Octoprint on the left of the screen (layer 37/76)

[2021-11-06 18:42] georgandersen opened #308 "Extruded filament gone of the rail"
I know that this is a bit long but please take your time and fill in the following information as clearly and detailed as possible. It will shorten the time needed to understand and fix the issue significantly. Please also state versions clearly when applicable. "Latest version" doesn't help much.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to

[2021-11-06 18:47] georgandersen commented on #308
![Ashampoo_Snap_6  november 2021_19h36m47s_002_](https://user-images.githubusercontent.com/11502292/140620510-0ef39aff-a145-4778-aabc-b1cdd43e1603.png

![Ashampoo_Snap_6  november 2021_19h35m46s_001_](https://user-images.githubusercontent.com/11502292/140620514-ec85a115-7410-4413-b21a-5774ef942224.png)
)
Two different printers, objects sliced with SuperSlicer, has been working perfectly prior to r

[2021-11-06 18:47] #308 closed

[2021-11-06 20:40] j7126 commented on #300
@jneilliii If you look more closely it is actually not a permission denied error, it is a no such file or directory error.

The permission denied error occurs because shutil.move first tries to use os.rename to to move the file, when that fails due to moving to a different filesystem, it is supposed to do it a different way, however `During handling of the above exception, another exception occurr

[2021-11-06 20:43] j7126 commented on #302
Please try re-uploading the file now @zebons @vajonam

[2021-11-06 20:43] j7126 commented on #306
huh, I thought we already had this, will have to check

[2021-11-06 20:54] j7126 commented on #297
I suspect that re-uploading the file should fix the issue for most people, if it does not, please let me know

[2021-11-06 21:12] zebons commented on #302
Done but always issue. I get now a "NaN layers" as Total layers.
![image](https://user-images.githubusercontent.com/51046171/140623901-e2e06ee4-029f-4607-856f-5ba5415d641a.png)

[2021-11-06 22:21] zebons commented on #302
OK I do a try. As I was working with subfolders to store my Gcode files for printing, I do the following actions :
launch a print file from the subfolder and see that dashboard infos are KO for total layers
So I stop the print then move that file to the main folder and launch it from here
And now infos on the dashboard screen are fine !
I think that the issue is new from the octoprint 1.7.2 upgrad

[2021-11-06 23:21] SaKiEQ commented on #300
thats where my bad path comment came from, it does not find the file, so either read permissions are screwed up, or the path is not working.

I have opened up all permissions as far as I can think off on linux level, but then the NAS has its own system which I currently dont know what it is using natively (need to look into that).

Maybe in the translation between file systems something gets hung

[2021-11-06 23:27] SaKiEQ commented on #300
This is the rsync script that copies files from OS X to the same NAS, different share point thought.

"rsync -rlptv   /Users/seuschen/Documents/3D\ Print\ Files\ STL admin@192.168.100.200:/share/sakieServer/3D\ Print/3D\ Print\ Files\ STL"

The struggle was with 192.168.100.200:/share/sakieServer/ where it points rsync to 'share' which is not part of the file system, where '/sakieServer/' is what

[2021-11-07 00:00] SaKiEQ commented on #300
Now past the 1.19.2 update the log is clean, what did you change from your end ? It seems to function in every way.

I have tried the above file path adjustments, both on the mount (stab) and on the Octoprint path, neither works in terms of being able to mount the folder (unlike required from OS X).

There are a few things on the NAS side we could try, like oplocks disable/enable.

[2021-11-07 00:29] j7126 commented on #300
There was a bug where it would not analyze when you first upload it, and i have fixed that, so now the problem area only occurs when you try to print files that were already uploaded before updating.

[2021-11-07 00:32] SaKiEQ commented on #300
Super cool - Thanks !

So not my fault then, for configuring something totally wrong... jneilliii made it sure sound like that.

[2021-11-07 00:35] appleimperio commented on #300
@SaKiEQ Did you try the new version with an older file and it gets deleted? I just want to be sure because if that's the case I will keep version 1.18.3

[2021-11-07 00:38] SaKiEQ commented on #300
@appleimperio no I did not try, but that is not important to me, as I just send the files again. I have double redundancy, where all files on the CAD machine are auto synched to the NAS up on change into a different folder plus OctoPrint on the different printers does the same... so its literally just drag and drop or re-slicing and sending again.

Just glad we found the bug.

[2021-11-07 00:40] j7126 commented on #300
I mean the actual bug is still not resolved and honestly idk what is causing it, but it is just a workaround for newly uploaded files. older files from before the update will still experience the error @appleimperio @SaKiEQ

[2021-11-07 00:40] j7126 commented on #300
perhaps someone else from the octoprint community could help figure it out

[2021-11-07 00:41] SaKiEQ commented on #300
So the same issue appears on your machine too, or is it isolated to few people only ?

[2021-11-07 00:43] j7126 commented on #300
yes, I can reproduce the issue by setting the files directory to a mounted CIFS folder

[2021-11-07 00:46] SaKiEQ commented on #300
ok good - or not good - but good to know its an issue other then just user error / config error of OctoPrint.
When I posted it first in OP git I got that undertone and then here again - but not from you ;).

I think attitude is not a great thing when trying to find bugs, regardless of peoples skill levels.

I am pretty sure somewhere there is similar bug report from other applications.... and a re

[2021-11-07 00:46] jneilliii commented on #300
Sorry if I made it sound that way, that was not my intention. I was just seeing the error in the log and validating permissions were added to the NAS. I've seen people have weird issues like this when they don't.

[2021-11-07 00:49] SaKiEQ commented on #300
@jneilliii thanks for this reply - really appreciate it !

I normally due my due diligence before even trying to post a bug, not to waste other peoples really valuable time. But then there is limitations to my overall experience in the project and what it involves.

So I primarily doubt my self first - hence its good to be able to burry some doubts every once in a while - while finding a solution

[2021-11-07 00:49] jneilliii commented on #300
You'll find I'm not a bad guy...I help tons of people in the community and am actively assisting in Discord, the forums, and issue trackers....so once again I apologize if it came across wrong.

[2021-11-07 00:52] SaKiEQ commented on #300
@jneilliii I know - I see all the good you do and can only imagine how little time there is outside of it !!!

Seriously glad we got to this position so far :)

And one day I can maybe be more hands on... While I do develop in other fields, my skills on linux and python are still in its infancy.

[2021-11-07 00:59] SaKiEQ commented on #300
But overall I think it was worthwhile exercise to rule out user error and config errors.

At least the problem is isolated and we can give @j7126 Jeffrey some assistance in figuring it out.

[2021-11-07 03:29] vajonam commented on #302
I too am using sub folders. My prints are in a /mypints/foo.gcode file. I will test from root folder.

[2021-11-07 06:16] Fredyy90 commented on #306
I think this should be done via css `text-overflow: ellipsis;` so it dynamically adjusts the length when resized.

[2021-11-07 09:47] zebons commented on #302
As I noticed some other strange behaviours since the 1.7.2 upgrade I open an issue on the Octoprint [https://github.com/OctoPrint/OctoPrint/issues/4309](url)
So wait & see

[2021-11-07 10:03] georgandersen opened #309 "Extruder filament widget not working correctly"
**Describe the bug**
Extruder widget not counting
**To Reproduce**
Steps to reproduce the behavior:
1. Widget not counting
2. On refreshing the page gives numbers in 1000 of meters
3. Tried om two different printers, with two slicers (3ds and superslicer) same result
4. Installed version 18.3 and everything works (installed 19.1 and the problem reoccurs)

**Screenshots**
![Ashampoo_Snap_6  novembe

[2021-11-07 12:01] miweimann opened #310 "Format of average Layer time H:mm:ss"
since 1.90 the format of average Layer time is no more like h:mm:ss, but is something like seconds? This is not useful, because i have to get an calculator every time, i want to know how long the time is in hours minutes and seconds.

**Describe the solution you'd like**
Please change the format or give a setting to change it by myself.

[2021-11-07 12:31] vajonam commented on #306
But this puts the ellipsis at the end of the text not in the middle. Guess could argue that file name will always end with .gcode so but there might other stuff before that's more identifiable.

[2021-11-07 13:37] SaKiEQ commented on #300
Hi there,

just got a weird error (again), that is in its own case unrelated - disconnect during printing. Never happened before and the machine are up 24/7 since 2 years.

yet the error is the same as we where discussing here, only this time not related to a plugin as far I can tell, but it sure looks its the shutil that threw the error.

I checked the connections to NAS, to Raspi and all is abso

[2021-11-07 13:39] vajonam commented on #302
With latest 1.19.3, now layers show some quite invalid data.

This was during bed heat up before the print
![image](https://user-images.githubusercontent.com/152501/140647432-e8e32a34-c2c0-4e81-b52a-ec0565a484a8.png)

[2021-11-07 14:07] zebons commented on #302
It's seem that a new version 1.19.3 fix the issue of metadata for files in sub folders....
Wait for the upgrade proposal for testing and verify if it correct the issue

[2021-11-07 14:47] vajonam commented on #302
yeah tried. that. just re-uploaded the file after upgrade to 1.19.3 still shows that data.

[2021-11-07 14:51] zebons commented on #302
I do a test in safe mode and it seems that the 1.7.2 version of Octoprint isn't the origin of my issues. I launch a file stored in a sub folder and when the print has finished, the status infos are correctly reported (text colored in green and uploaded time not changed). So it's a plugin(s) issue...
I hope that the new version of dashboard'll correct all my issues

[2021-11-07 16:59] SaKiEQ commented on #249
I think it would interesting to have the ability to have more than one Dashboard config at a time.
Sort of like having Dashboard tabs.  Different views for different purposes, sort of like it is implemented
right now for the different function areas, like motion, heating, etc... so that a selected Dashboard set
can be made full screen.

On some computers I might want to have a full screen view of

[2021-11-07 20:31] vajonam commented on #302
re upload files and cleaning up all older files seemed to fix it for me. happy to close this issue.

[2021-11-07 21:25] vajonam commented on #302
looks like 1.19.3 fixes but new metadata is needed so neeed to re-upload

[2021-11-07 21:25] #302 closed

[2021-11-07 21:27] vajonam commented on #303
Is this fixed? I am running 1.19.3 and still seeing wildly different layer numbers

![image](https://user-images.githubusercontent.com/152501/140662446-03d40108-f712-432b-a7b1-6d5dd506da24.png)

[2021-11-07 21:27] vajonam commented on #303
![image](https://user-images.githubusercontent.com/152501/140662464-33711a78-692c-45a3-86c1-f44914296446.png)

[2021-11-07 21:28] vajonam commented on #303
342 is the correct number of layers according to the slicer.. is this 1.7.2 issue? @j7126

[2021-11-08 00:20] j7126 commented on #300
@SaKiEQ there appears to be multiple different things going on here.

First the printer goes unresponsive

[code]

Then OctoPrint disconnects from the printer

Then, as it is no longer printing, OctoPrint tries to resume analysis tasks that were ongoing before the print started (as when a print is ongoing it will pause these tasks to save cpu for the print)

It is then that it tries to resume anal

[2021-11-08 00:23] j7126 commented on #302
This appears to be similar to #297. In both cases it should be fixed by updating to the latest version and then re-uploading the gcode files.

[2021-11-08 00:23] #297 closed

[2021-11-08 01:52] SaKiEQ commented on #300
The file was present at start of the print and when I restarted the print - so that is for sure.

To why it stopped I cant give you an answer either.  I followed the logic as you did with to how or what happened.
I found it peculiar that the error given relates to the same problem as previous issues, make me think as you stated that there is larger issue at work.

Now that could as simple as a lat

[2021-11-08 02:37] bhaal2 opened #311 "Layer Progress from SuperSlicer Gcode"
When using SuperSlicer the resultant gcode is not compatible with the current version of dashboard (1.19.3), layer progress is not calculated or displayed on the Dashboard.  It just shows 0/0 or 0/1 layers.

SuperSlicer 2.3.57 And the current stable version as well.  And this only started happening with the version of Dashboard that stopped using DisplayLayerProgress plugin.

Regards,
Cameron

[2021-11-08 02:51] jneilliii commented on #300
The easiest way to get any headway in OctoPrint issue tracker is to reproduce the issue in safe mode, with all logs, including serial logging being enabled.

[2021-11-08 02:53] jneilliii commented on #300
Some of the bigger changes that could be related to this that was part of the updates is special characters in file naming, which caused a couple of problems with external services/apps. Curious if symlinks to NAS storage might be getting "rewritten" in some way that it's not able to interpret it.

[2021-11-08 07:25] zebons commented on #302
I confirm issues resolved with 1.19.3.  Thanks

[2021-11-08 07:42] SaKiEQ commented on #300
@jneilliii Agreed, only reproducing a weird disconnect on a longer print (this one was about 9h and disconnected at around 5) is not so easy in safe-mode... I continued printing and it finished the job over night without hiccup.

If the same issue happens again I will sure enable serial login ;).

I experimented with the path name early on, removing all empty spaces, replacing them with underscore

[2021-11-08 14:22] vajonam commented on #311
I am using SuperSlicer and it working okay for me. Try re-uploading the prints, there was issue with how metadata was stored. It wasn't specific to SuperSlicer.

[2021-11-08 14:32] vajonam commented on #311
![image](https://user-images.githubusercontent.com/152501/140760359-e14c7593-3e76-47f1-b7d6-8573e1ae6549.png)

See here everything lines up.

[2021-11-08 23:44] bhaal2 commented on #311
Oh, I saw that mentioned in another bug, will see if I can use that bug to resolve it.  Thank you.

[2021-11-09 02:21] bhaal2 commented on #311
I've tried re-installing to clear the cache etc, and uploading new gcode from SuperSlicer, but it's still not giving me layers, or layer time.

[2021-11-09 15:50] vajonam opened #312 "Alignment/Wrapping issue with Disconnected."
**Describe the bug**

Alignment issue with the disconnected.  text

![image](https://user-images.githubusercontent.com/152501/140956742-7066ec94-e400-455d-a75a-b64cc6e25a10.png)

**To Reproduce**
Steps to reproduce the behavior:
Disconnect

**Expected behavior**
No wrapping of text.

**OctoPrint server and Plugins:**
 - Platform: Intel
 - OS and version: Ubunut 20.04 docker.
 - OctoPrint version:

[2021-11-09 18:05] Kaicura opened #313 "No Upload to Octoprint from Cura after Update with Dashboard v1.19.3 (1.19.0,1.19.1, 1.19.2)"
Self Problem after testing  new Version 1.19.3. Roll always back to V1.18.3.
Cura 4.11.

browser.user_agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36
connectivity.connection_check: 8.8.8.8:53
connectivity.connection_ok: true
connectivity.enabled: true
connectivity.online: true
connectivity.resolution_check: octoprint.org
conn

[2021-11-09 20:06] yodrako commented on #313
I'm having the same issue with Prusa Slicer.

[2021-11-10 18:57] boeningc commented on #313
Same issue just trying to upload direct via OctoPrint web interface.

[2021-11-11 09:17] herrla commented on #313
I'm having the same issue while trying to upload via Web Interface.

OnScreen Error:
![image](https://user-images.githubusercontent.com/10669493/141271395-4f2e9f66-c7e5-48ef-ba78-92d5054b0416.png)

Octoprint Log:
[code]

[2021-11-11 10:45] j7126 commented on #311
I will have to take a look at SuperSlicer

[2021-11-11 10:50] j7126 commented on #313
This is due to dashboard 1.19 no longer supporting python 2. You will need to update to python 3.

[2021-11-11 10:59] StefanCohen commented on #313
`__plugin_pythoncompat__ = ">=2.7,<4"`

Isn't this setting in __init__.py supposed to force OP to disable the plugin at startup if the req is not met?

[2021-11-11 11:00] j7126 commented on #313
yes, it is supposed to, however it has been forgotten to update it, fixing now

[2021-11-11 11:04] StefanCohen commented on #313
Cool. I always thought it was weird of OP to keep it in __settings__.py instead of setup.py. It makes it so easy to forget it.

[2021-11-11 11:09] StefanCohen commented on #311
It behaves just like PrusaSlicer/Slic3r under normal circumstances but there is probably a setting somewhere that makes it produce layer markers in a non-standard way. I guess diffing a user-modified  profile that generates wonky g-code against a default profile would go a long way.

[2021-11-11 20:06] cp2004 commented on #313
@j7126 this really should have been mentioned in the release notes or **somewhere** on the plugin page. As it stands there's still ~35% of installs on Python 2 and we have had a ton of issues recently relating to the dashboard plugins' new release 1.19.x across OctoPrint's issue tracker and the forums as well.

This needs to be communicated clearer. I'm definitely not here to complain about droppi

[2021-11-12 00:57] j7126 commented on #313
@cp2004

Sorry, I feel I should clarify. I actually didn't realize that python 2 support was broken until a few hours ago when I wrote the above replies, as the changes that broke it were not added by myself, and I haven't tested with python 2. Once I saw that python 2 support was in fact broken, I thought that the quickest and easiest way to resolve it was just to let people know that it is not s

[2021-11-12 02:01] j7126 commented on #313
Alright, in version 1.19.5 I have added back support for python 2, everything should work now, please confirm.

[2021-11-12 12:21] imawizzard opened #314 "Multicam"
Hello,

I liked that you added the option for Multicam, but I'm using a touchscreen.
The buttons for selecting the camera are really small.
Can you provide bigger buttons, or maybe show the camera underneath each other?

I would love to hear your reaction.

Kind regards.

![IMG_20211112_132020420](https://user-images.githubusercontent.com/41449816/141466279-32f0c89b-776e-46d1-9981-cbfb42cde915.jpg

[2021-11-12 14:50] TheLion opened #315 "The layer progress percentage and progress bar go haywire"
I know that this is a bit long but please take your time and fill in the following information as clearly and detailed as possible. It will shorten the time needed to understand and fix the issue significantly. Please also state versions clearly when applicable. "Latest version" doesn't help much.

**Describe the bug**
The layer progress percentage and progress bar go haywire.

**To Reproduce**
St

[2021-11-12 17:38] Kaicura commented on #313
Now it works with 1.19.5. :)
![Dashboard_update](https://user-images.githubusercontent.com/65878296/141510384-f699900c-6e8e-45e9-8afb-33a5941a7d72.JPG)

[2021-11-12 17:38] #313 closed

[2021-11-12 20:07] appleimperio commented on #300
@jneilliii the latest release 1.19.5 with the updated python fully fix this issue?

[2021-11-12 20:38] SaKiEQ commented on #300
@appleimperio  you would have to ask @j7126  and no @jneilliii  as he is not the author, but a very involved and skilled member of the  OctoPrint universe ;)

But would be interesting to know the answer nevertheless !

[2021-11-12 22:53] appleimperio commented on #300
@SaKiEQ yes, I was confused with all the help we received. Thank you!

[2021-11-13 05:00] j7126 commented on #300
No 1.19.5 does not address this issue.

I still have not been able to figure out why the root cause for the issue is happening, however as I stated before, currently the issue is only occurring to files that have been uploaded to your octoprint **before** the 1.19.2 release, so any files that you upload after updating will not experience the issue.

[2021-11-16 01:52] condraka opened #316 "Dashboard is Causing GCode Scripts for Start/Stop Not to Run"
Running Current Versions

Octoprint 1.7.2
Dashboard 1.19.5
OctoPi 0.18.0
Python 3.7.3
on a Rasp Pi 3B+ Rev 1.3

GCode Scripts are partially working with Dashboard Plugin Active.  Just updated this weekend to 1.19.5 Dashboard and it stopped working.  Program Related Scripts are not being run.  Non-Program Related Scripts are working.

WORKING:
Serial Connection Established
Serial Connection Closed

[2021-11-17 13:04] KixMan28 commented on #310
I don't think this should be an "enhancement" as this feature was present in the previous versions. I would rather call it a "bug" in the current version, unless this is the way the plugin owner intended to implement this.

[2021-11-17 13:11] KixMan28 commented on #315
Have a similar issue issue. I am using the latest (1.19.5) version nad the layer numbers and the filament length are wrongly displayed. See attached picture:
![Uploading 2021-11-17 13_55_59-Start.jpg…]()

Could you please correct theses?

[2021-11-17 14:52] miweimann commented on #310
How can i change the label? i am quite new in this.

[2021-11-17 14:54] miweimann opened #317 "Format of average Layer time H:mm:ss"
since 1.90 the format of average Layer time is no more like h:mm:ss, but is something like seconds? This is not useful, because i have to get an calculator every time, i want to know how long the time is in hours minutes and seconds.

Describe the solution you'd like
Please change the format or give a setting to change it by myself.

[2021-11-17 15:14] KixMan28 commented on #310
@miweimann Why you closed this issue?

[2021-11-17 17:02] StarNamer commented on #315
Also 1.19.5. Looks like it not getting the layer info and the layer percentage calculation is way off...
![image](https://user-images.githubusercontent.com/1997874/142246984-89d7a5b3-af43-4475-873a-3d05cc51ac85.png)

[2021-11-18 06:36] j7126 commented on #310
I will look at fixing

[2021-11-18 10:14] KixMan28 commented on #310
@j7126 Thank you for having a look at it.

[2021-11-21 20:02] theos10 opened #318 "Error in plugin CR-10 Leveling with DashBorad :"
HI,

I have CR10-pluging leveling in dashboard.
When in clic on button, nothing's happening

I have this log :
2021-11-21 19:02:30,119 - octoprint.util.comm - ERROR - Error while processing hook dashboard for phase sending and command G0 Z0F500:
Traceback (most recent call last):
  File "/home/pi/oprint/lib/python3.7/site-packages/octoprint/util/comm.py", line 4611, in _process_command_phase
    t

[2021-11-21 21:23] InoxDragoon commented on #317
I, too, have noticed this behavior and would like it reverted.

[2021-11-22 13:56] georgandersen commented on #309
Tried 1.19.5, - same issue as previously reported .
Gone back to 1.18.3

[2021-11-25 17:59] unclej84 opened #319 "Layercount doubled using CANVAS (canvad3d.io) slicer from Mosaic"
**Describe the bug**
Apparently CANVAS writes 2 triggering layer indicators per layer. So the dashboard shows doubled layer numbers for current and total layer as well as strange average layer durations (both entries are directly after each other so that one layer is the real layer time and the other one is nearly 0).

These trigger for Simplify3d and the generic slicer [dict](https://github.com/j

[2021-12-03 07:36] matthieut59 opened #320 "infinite loop parsing the Gcode ?"
**Describe the bug**
Hello,

here is what I see in the logs in infinite loop. Be aware that beside this, everything is working fine, but I guess I have something not properly setup to have such info logs in loop ?

 👍 021-12-02 13:34:53,537 - octoprint.plugins.dashboard - INFO - Total Layers 0
2021-12-02 13:34:53,538 - octoprint.plugins.dashboard - INFO - Gcode not pre-processed by Dashboard. Proc

[2021-12-03 15:15] #320 closed

[2021-12-03 15:15] matthieut59 commented on #320
fixed in 1.19.5

[2021-12-04 13:35] Guenni75 commented on #315
I have not one Layer and no height.
![image](https://user-images.githubusercontent.com/14917841/144711439-12c2a8b6-f4e5-41da-93b6-9e890106a0f9.png)

[2021-12-06 18:39] steadyaero commented on #315
My layers seem correct, but I too am experiencing wonky extruded filament length:
![image](https://user-images.githubusercontent.com/10160060/144902118-a725df03-0cc6-4362-a5ad-a26dbfa77b72.png)
Octoprint version: 1.7.2
Server OS: Windows 10 21H1
Dashboard version: 1.19.5
Python version: 3.10.0
Slicer: Creality Slicer 4.8.2-177
Printer: Creality Ender 3 V2

[2021-12-06 18:44] steadyaero commented on #309
I will cross post my comment here from a different thread with a similar issue: https://github.com/j7126/OctoPrint-Dashboard/issues/315#issuecomment-987051744

[2021-12-11 09:57] j7126 commented on #315
Alright, sorry that I have taken so long to get to this issue. Can you please upload the gcode files that you were printing when you experienced the issue, and I will be able to take a look at it from there.

[2021-12-11 10:00] j7126 commented on #309
Hi, sorry I have taken so long to get to this issue, please can you upload the gcode file that you were printing when you experienced the issue.

[2021-12-11 16:26] georgandersen commented on #309
![Ashampoo_Snap_11  december 2021_17h22m47s_002_](https://user-images.githubusercontent.com/11502292/145684020-49388be2-0f1f-469c-91fa-d35fabd49006.png)

[krukke 50mm laag_0.2mm_PLA_ENDER3BLTOUCH_36m.zip](https://github.com/j7126/OctoPrint-Dashboard/files/7697347/krukke.50mm.laag_0.2mm_PLA_ENDER3BLTOUCH_36m.zip)

[2021-12-12 12:31] TheLion commented on #315
Sure. How do you want me to send the gcode to you? I wasn't able to upload it in this issue.

[2021-12-12 13:17] j7126 commented on #315
Hmm, you usually should be able to upload it here. Perhaps put it in a Pastebin?

[2021-12-13 13:29] TheLion commented on #315
Upload doesn't work unfortunately. Maybe it is the size, it is 27Mb.

You can find the gcode file here: https://u.pcloud.link/publink/show?code=XZhCnNXZv3ir352ienjY7kLOeYXDYuvDn0cV

[2021-12-14 15:28] Troox73 commented on #309
Here another one, hope you need it ;-)
![Zwischenablage02](https://user-images.githubusercontent.com/45439011/146027952-2faa973c-b5f5-4bcb-bab6-ea7e86c76a02.jpg)
[sample.zip](https://github.com/j7126/OctoPrint-Dashboard/files/7712771/sample.zip)

[2021-12-26 15:29] ido-nl opened #321 "Watched folder / Watchdog causes TypeError when plugin is enabled"
Using Dashboard version 1.19.5 on my Raspberry Pi - Octoprint v1.7.2,
OctoPi Version 0.17.0, running on Raspberry Pi 3 Model B Rev 1.2

- When I start my Pi with Octoprint it connects the watched folder to a folder on my NAS.
- It used to process the files and add them to the print queue, now it renames the files to .failed
- When I add files to my NAS folder (watched folder) when the Pi is alread

[2021-12-27 20:57] larsbrockmann commented on #60
Did someone find the solution? I have the same problem. I am using SuperSlicer, a PrusaSlicer fork.

[2022-01-02 20:51] staffert opened #322 "Feedrate / 5 second average value swapped"
**Describe the bug**
It seems to me  like the instantaneous feed-rate needle indicator is actually reporting the 5 second rolling average value, and the average value arc is indicating the instantaneous value...

**To Reproduce**
Steps to reproduce the behavior:
1. Install Dashboard Plugin
2. Set display options to include Feedrate display graph
3. Print any job
4. See behavior above

**Expected b

[2022-01-07 12:16] Rene1695 opened #323 "Tab not selected on Octoprint-Startup (always enters temperature tab)"
Dear all,

i installed the dashboard plugin on my octoprint server. After a reboot, i figured out, that the dashboard tab is on the most left side which shall force octoprint to enter this tab on startup.

Unfortunately, everytime i connect to my octoprint server, it will always start on the default "temperature" tab from octoprint, which is right next the dashboard tab. Do i have to set a startup

[2022-01-08 11:22] TheLion commented on #315
I just experienced the same issue. With a much smaller gcode file.
If you want, I can share it.

[2022-01-09 11:29] Sekisback opened #324 "Dashboard.js totalHeigth fx"
May I am wrong but in Dashboard.js Line 277 the toFixed() should be 2

[code]

this should be

[code]

[2022-01-09 11:47] j7126 commented on #324
Why is that?

[2022-01-09 12:18] Sekisback commented on #324
if you work with layer height 0.16 for example, the total height in the dashboard is rounded after the first number.
3 layer in 0.16 will be displayed as 0.5 and should be 0.48

[2022-01-10 11:02] colindawson commented on #309
I'm getting this happening as well.  Every print that I do, doesn't matter if I use Cura or Simplify3D to slide.   The filament amount is always wrong.

![image](https://user-images.githubusercontent.com/5050229/148755454-ff499470-16c8-4665-8583-5dc5d3ce08de.png)

The filament length in the dashboard doesn't seem related to the filament used in the print.

[2022-01-10 11:30] j7126 commented on #324
ok, will change

[2022-01-10 12:23] colindawson commented on #309
I've taken a quick look at this it appears from what I'm seeing is that the problem is in the data being fed to the onDataUpdaterPluginMessage function.  So it looks like the data that's comming in from octoprint itself either corrupted, or not in meters.   Looks to me like this needs to be fixed in the octoprint source, not the dashboard.

[2022-01-11 18:31] georgandersen commented on #309
The issue started after version 18.3.
So i am used 18.3, where everything works fine, also after upgrading Octoprint.

[2022-01-12 01:25] j7126 commented on #309
@colindawson the `onDataUpdaterPluginMessage` is just a way of passing data from the back-end of octoprint to the front-end. This line here: `if (plugin == "dashboard") {` means that all these messages are in fact coming from the back-end of dashboard, not from octoprint, so it is indeed an issue with dashboard.

[2022-01-12 01:26] j7126 commented on #309
This is related to the new gcode processing that was introduced recently in dashboard, as it seems to be having some issues interpreting gcode from any Slic3r++ forks, such as PrusaSlicer, SuperSlicer etc.

[2022-01-12 02:58] #324 closed

[2022-01-12 08:38] j7126 commented on #309
![image](https://user-images.githubusercontent.com/35882868/149092368-db9ab483-ce38-494b-9ecd-083d99f8b209.png)

[2022-01-12 08:40] j7126 commented on #309
Ok so I think that I may have solved this issue.
It seems that the cause was dashboard was not correctly handling the G92 GCODE command.
I will make a new release soon.

[2022-01-12 08:59] j7126 commented on #315
So regarding the extruded filament length issue which was mentioned in this thread, I have created a fix which will be released soon, for more info see #309

[2022-01-12 09:02] j7126 commented on #311
also see #315

[2022-01-12 09:02] j7126 commented on #315
also see #311

[2022-01-12 09:03] #309 closed

[2022-01-12 09:04] j7126 commented on #315
Closing as duplicate of #311

[2022-01-12 09:04] #315 closed

[2022-01-12 09:21] j7126 commented on #315
@TheLion can you please try with a fresh profile on your slicer (reset ALL settings to default). probably easiest to backup your slicer config files and then delete them to start from scratch. and then let me know if the issue persists.

[2022-01-12 09:22] j7126 commented on #311
@bhaal2 can you please try with a fresh profile on your slicer (reset ALL settings to default). probably easiest to backup your slicer config files and then delete them to start from scratch. and then let me know if the issue persists.
If the issue stops by doing that, can you please send me your slicer profile file that is having the issue

[2022-01-12 09:26] j7126 commented on #323
First thing to try, if you are accessing octoprint from a bookmark, does that bookmark by any chance have `#temp` at the end?
If that is the case then all you would have to do is remove the `#temp` from the bookmark.
If that is not the case, can you please share your octoprint system info bundle

[2022-01-12 09:41] j7126 commented on #322
I think that the case is that they are not switched around, but in fact the average 5 seconds value is just buggy and incorrect and jumps around.

[2022-01-12 10:04] j7126 commented on #322
I have made some improvements, it should work a bit better now.

[2022-01-12 10:13] j7126 commented on #309
New version released

[2022-01-12 10:34] Rene1695 commented on #323
Removing #temp worked for me, thank you very much! Issue can be closed :)

[2022-01-12 10:35] #323 closed

[2022-01-12 10:48] colindawson commented on #309
@j7126 awesome.   I'm not fully up to speed with Python, just started doing some MicroPython recently (YAY RP PICO) and was trying to apply what I know from other programming languages.  I'm not familiar with the architecture of Octoprint and the plug in mechanism, hence why I thought I was coming from the OctoPrint source.    Sounds like my pointer helped to narrow down where the problem was a bi

[2022-01-13 02:24] staffert commented on #322
I've done some testing with the newly released version, but now it seems to drop to a zero value more often.....as an average value, that shouldn't be the case, especially when I am printing large filled sections with virtually no change in feedrate for minutes.
I think there is still something wrong with this functionality.

[2022-01-13 02:53] j7126 commented on #322
Hmm, can you send over your guide file?

[2022-01-14 11:18] TheLion commented on #315
Sure, will do that and let you know what happened.

[2022-01-14 17:03] anubisg1 commented on #21
Is this dependency still existing? I don't have installed display layer progress plugin and I have the same problem.

The dependency, if there seems to be undocumented, if not there then this issue still exists today.

[2022-01-14 23:10] j7126 commented on #21
Hello @anubisg1, this dependency no longer exists. As of version 1.19.0, DisplayLayerProgress is no longer required.

In regards to you still having the issue, please let me know what versions of dashboard and OctoPrint you have installed, and please upload your gcode file so that I may debug the issue.

[2022-01-15 08:13] anubisg1 commented on #21
Hello @j7126

The issue seems to exist only if the print is initiated from the SD card. Either manually from the printer or via octoprint.

If the gcode is stored on octoprint and streamed via serial port, the fan diagram shows correctly. Everything else works perfectly except for the fan

[2022-01-15 13:20] Dexter0007 opened #325 "Control enclosure"
Hi, is it possible to add a enclosure control from the dashboard (maybe from enclosure plugin?)? I would like to turn on the light or change the ventilation settings.

[2022-01-18 20:53] r0dnay opened #326 "dashboard constantly has 'busy' rotating animation"
The problem

dashboard constantly has 'busy' rotating animation
Did the issue persist even in safe mode?

I cannot test this issue in safe mode (state why below)
If you could not test in safe mode, please state why

currently in print and need some plugins intact
Version of OctoPrint

1.7.2
Operating system running OctoPrint

W10 21H1 19043.1466
Printer model & used firmware incl. version

MARLIN

[2022-01-18 21:13] gpread opened #327 "SystemInfo Widget CPU Temperature always shows as 0°C"
**Describe the bug**
The SystemInfo Widget does not report/display CPU Temperature correctly - it always shows 0°C

**Expected behavior**
A temperature value displayed and which updates in line with what the OS reports, or an error value.

**Screenshots**
![OctoPrint-Dashboard - CPU Temp Issue](https://user-images.githubusercontent.com/59426970/150012401-51ee6ca3-e03a-4c1e-9c52-9cc19792f0da.JPG)

[2022-01-18 21:30] StefanCohen commented on #327
Hi. Dashboard uses psUtil to read the cpu temp. You can see how it does it in the psUtilGetStats method in __init__.py in the plugin. Different systems report temperatures differently and your rockpi is most likely not covered yet. I would suggest that you  fire up python on the device, import psutil and see what psutil.sensors_temperatures(fahrenheit=False) returns. You should then be able to mod

[2022-01-18 21:37] StefanCohen opened #328 "DLP in wiki"
The wiki still mentions DLP as a requirement. https://github.com/j7126/OctoPrint-Dashboard/wiki/DisplayLayerProgress Is that intentional or can it be removed?

[2022-01-19 01:52] brunoherrera commented on #310
still present

[2022-01-19 13:52] gpread commented on #327
Thanks, I'll look into it

[2022-01-19 17:09] gpread commented on #327
Ok, so I did that and even with my limited programming skills I found it easy to get a working python script using psUtil to get the cpu temp. Script and output show in a putty screen capture below:

![WorkingPyScriptforRockPi4_CPUTemp_psUtil](https://user-images.githubusercontent.com/59426970/150173606-0a9dcc0f-a647-4354-b8cc-524dbaac5cb3.JPG)

So, then I went ahead and modified accordingly the _

[2022-01-19 17:22] StefanCohen commented on #327
There are afaik no checksums to be evaluated by OP to verify the integrity of a plugin. I think it will be enough to simply restart OP.

[2022-01-19 17:39] gpread commented on #327
I did that in the very first place.  I backed up the original (added suffix to filename), made a copy, modified it. Then copied modified script file to \_\_init\_\_.py and restarted Octoprint.  Dashboard tab is not there after the restart and clearly Octoprint detects something it does not like, showing its now got "incompatible" status.

I know its not a simple syntax error in the/my python code

[2022-01-19 17:52] StefanCohen commented on #327
Hang on. I haven't touched my OP in like a year so I have a bunch of updates to go thru in order to verify this.

[2022-01-19 17:53] gpread commented on #327
👍

[2022-01-19 18:11] gpread commented on #327
Ah ha,  seems like standard log level does not report all python validation issues.  Seems like there is a formating issue in my edits, I found it in the log after setting debug level of logging for plugins and dashboard.

Now  perhaps🙏 I just need to figure out exactly what it does not like and change it.

[2022-01-19 18:21] StefanCohen commented on #327
It looks like you have mixed tabs and spaces in your edit. Python doesn't like that. And you have two redundant paranthesis in there too. Fix that and it looks like it may work. My OP doesn't complain now.

[2022-01-19 18:29] gpread commented on #327
Yay!  After fixing whitespace format issues (invisible death! lol) it works as expected/hoped.

Thanks for your assistance @StefanCohen, apologies if I triggered you to do some OP housekeeping you had been avoiding.

Attached is a modified \_\_init\_\_.py that now works for RockPi (presumably most RockChip CPUs/SOCs in fact)
[RockPi__init__.py.txt](https://github.com/j7126/OctoPrint-Dashboard/file

[2022-01-19 18:33] StefanCohen commented on #327
Perfect. All that is left is to push a PR to the repo and you can put "Open Source Contributor" in your CV 😃

[2022-01-19 19:10] gpread commented on #327
I have created a fork, modified it and created a PR.  I also tried to link it to this issue.

Since I am a noob to most of this, I have little idea if I did it successfully (meaning it will work easily for the maintainers) or if I did it the easiest/cleanest way.  Therefore I am wide open to constructive feedback 😁

[2022-01-20 08:02] j7126 commented on #328
This is correct those are not relevant since 1.19.x, they have been removed.

[2022-01-21 07:23] j7126 commented on #326
I assume that you mean the spinner where the webcam goes in dashboard? Can you see your webcam in the control tab. Can you please upload your octoprint system info bundle

[2022-01-24 14:50] gituemmel01 opened #330 "Widget for chamber temp is shown although printer profile does not have chamber temp"
In the dashboard the widget for chamber temp is always displayed, but in the printer profile (Ender 5) the checkbox for heated chamber temp is not selected. So the widgets shows "NaN" and shoud not be visible.
Plattform Raspberry Pi 4, OctoPrint-Dashboard-1.19.6, OctoPrint 1.7.3

![image](https://user-images.githubusercontent.com/98326443/150804917-8d8e40a1-ee9a-41fe-8294-f640697f3e84.png)

![imag

[2022-01-25 08:54] #327 closed

[2022-01-25 12:53] gpread commented on #327
Just tested 1.19.7, I can confirm it seems to be all good.  My CPU temp is now reporting correctly.

Thanks for the help and your good work @j7126 and @StefanCohen

[2022-01-26 04:53] j7126 commented on #21
Hi @anubisg1,

This is expected when printing via the sd card, this informtion is only available when streaming gcode through OctoPrint.

The reason for this is that when printing from the printer sd card, there is not any way for the plugin to see and analyze the gcode in order to get this information. As you can see in your screenshot, the layer height and layer time info down the bottom is also

[2022-01-26 05:15] j7126 commented on #21
Actually I now realize that marlin does have the ability to report the current fan speed, so there should be a way to do this for the fan speed.

[2022-01-26 05:51] j7126 commented on #21
Alright I have added the ability to get the fan speed when printing from sd card and when the fan speed is changed from the printer LCD.

This feature will be included in the next release. It will need REPORT_FAN_CHANGE enabled in your printer firmware to work.

[2022-01-26 05:52] j7126 commented on #21
Alright I have added the ability to get the fan speed when printing from sd card and when the fan speed is changed from the printer LCD.

This feature will be included in the next release. It will need REPORT_FAN_CHANGE enabled in your printer firmware to work.

[2022-01-26 05:58] j7126 commented on #21
@anubisg1 you can test this out now if you want by installing the development branch of the plugin by using the url below in the plugin manager. As long as you have REPORT_FAN_CHANGE enabled in your firmware, the fan speed should show up.

`https://github.com/j7126/OctoPrint-Dashboard/archive/refs/heads/development.zip`

[2022-01-26 06:31] anubisg1 commented on #21
Absolutely, let me test it today

[2022-01-27 09:06] anubisg1 commented on #21
i have not forgotten, i just have a very long print on going. should finish in the next 6 hours, after that i will be able to safely install the plugin update

[2022-01-27 10:20] ackermannsven commented on #330
Also, when used with a independent dual extruder IDEX setup, the fan speed and chamber temp overlap:

Raspberry Pi 3B, OctoPrint Dashboard 1.19.7, OctoPrint 1.7.3

[2022-01-27 10:41] j7126 commented on #330
That is in fact a command widget, not the heated chamber widget, as the default "example" command widget is a simulated chamber widget. That should not be visible by default, and it seems that there is something broken with hiding disabled command widgets, which is also causing the overlap issue.

I am working on a fix, but in the meantime a temporary workaround you can use would be to just comple

[2022-01-27 11:39] ackermannsven commented on #330
Thanks a lot, this worked for me. I did also try to remove the "simulated chamber", seems also to be fine that way.

[2022-01-27 13:11] j7126 commented on #310
Sorry I took so long to get to this, the fix will be in the next release.

[2022-01-27 13:14] j7126 commented on #317
#310 will be in next release.

[2022-01-27 13:14] #317 closed

[2022-01-27 13:30] j7126 commented on #312
Should be fixed in the new release

[2022-01-27 13:30] #312 closed

[2022-01-27 13:30] #310 closed

[2022-01-27 13:31] #330 closed

[2022-01-27 15:34] anubisg1 commented on #21
It works!

[2022-01-28 22:23] aseams opened #331 "[Bug]: Z-Axis and extruder related values do not populate"
### The problem

When looking at the dashboard in OctoPi, the following values do not change and/or appear at all.
- extruded filament
- next filament change
- estimated total print time
- current layer
- current height
- layer time

I have a BLTouch installed as well as the BLTouch plugin for OctoPi.

### Version of OctoPrint

1.7.3

### Platform

Raspberry Pi 3B+

### Operating system running Oc

[2022-01-28 22:27] Willmac16 commented on #331
@aseams Can you share a gcode file that produces the behavior?

[2022-01-28 22:39] aseams commented on #331
Wouldn't let me upload .gcode so had to zip it.
[Guide_Open.zip](https://github.com/j7126/OctoPrint-Dashboard/files/7962240/Guide_Open.zip)

[2022-01-28 22:50] aseams commented on #331
Just started another print that I uploaded through OctoPi and it shows the values in question. The print which produced this error was loaded directly to the SD card.

[2022-01-28 22:53] Willmac16 commented on #331
That would do it. The way Dashboard does those stats requires the file to be on Octoprint. The formatting of those stats when no data is available could be improved though.

[2022-01-28 22:55] StefanCohen commented on #331
Wouldn't it be better if we remove the widgets that can't be populated when printing from SD?

[2022-01-29 00:18] j7126 commented on #331
That would probably be a good idea

[2022-01-31 22:50] shakeandbake017 opened #332 "[Bug]: Celsius shown on enclosure AM2302 device instead of Farenheit on Dashboard"
### The problem

1. I have a AM2302 sensor that detects temp and humidity.  On the enclosure tab, it shows correctly with the Fahrenheit symbol.  On the dashboard page, it shows with the correct temp number but with Celsius instead of Fahrenheit.  Please see attached screenshot.

### Version of OctoPrint

1.7.3

### Platform

Raspberry Pi 3b

### Operating system running OctoPrint

OctoPi 0.18.0

[2022-02-01 02:14] shakeandbake017 commented on #332
I see an old post staying it's hard coded to celsius so this can close

[2022-02-01 03:06] j7126 commented on #332
This is a bug

[2022-02-02 08:15] j7126 commented on #316
Hi, believe I have created a fix, please install the development branch by installing the plugin with the below url and let me know if the issue is fixed.

`https://github.com/j7126/OctoPrint-Dashboard/archive/development.zip`

[2022-02-05 20:29] karcaw opened #335 "Add A GCode Viewer Widget"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Can you add in a mini GCode Widget that shows the current layer and progress?

**Describe alternatives you've considered**
Clicking on the GCode viewer tab is nice, but I'd like it on the dashboard

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-02-07 04:02] condraka commented on #316
Scripts are running as expected.  Fix has corrected script issues.  Thanks

Carl E. Ondraka
Sent from my iPhone

[2022-02-14 16:19] colindawson opened #336 "[Bug]: Filamant used displaying incorrect value."
### The problem

I'm currently printing out part of a Hero Me Gen 6.   The print is supposed to use about 8.34 Meters of filament according to Octoprint.    However, having printed 76% of the print, the dash board is saying that I've used about 0.274m.

![image](https://user-images.githubusercontent.com/5050229/153901848-d4396961-a295-4e01-8ad9-d8ae87191412.png)

### Version of OctoPrint

1.7.3

#

[2022-02-15 10:17] colindawson commented on #336
I can confirm that the amount of filament used never changed.   This is something that I have noticed with other prints as well.

[2022-02-22 14:17] PineappleJama opened #337 "MagicMirror 2 Module"
Can the information as the dials etc be added as a MagicMirror 2 module please?

[2022-02-28 11:44] j7126 commented on #337
I have no plans of developing a MagicMirror Module any time soon. However as dashboard is just a web page, you could probably achieve what you want by using a MagicMirror module to display the page.

For example https://github.com/AgP42/MMM-SmartWebDisplay (I have not used this or anything just found it from a quick search) or something similar to display the dashboard webpage inside of MagicMirro

[2022-02-28 11:44] #337 closed

[2022-03-06 15:02] alaorath commented on #316
Has this change been merged to master?  I ran into the same issue.  octoprint.log filled with exceptions ("Error while processing hook dashboard for phase sending and command ") and no completed movement.

Even the default octoprint movement buttons did nothing but generate log errors:

Traceback (most recent call last):
  File "/home/pi/oprint/lib/python3.7/site-packages/octoprint/util/comm.py",

[2022-03-10 06:34] j7126 commented on #311
Are you still experiencing this issue? I have not been able to reproduce it.

[2022-03-10 06:34] #311 closed

[2022-03-10 06:57] j7126 commented on #318
Not sure how I missed this issue, however looks like it did get fixed back in December https://github.com/lsellens/OctoPrint-Cr10_leveling/issues/34

I will try to make dashboard's gcode processing more resilient so that this can't happen with other plugins.

[2022-03-10 06:57] #318 closed

[2022-03-10 07:43] j7126 commented on #316
@alaorath It has not yet, but will be included with the next release, coming soon.

[2022-03-10 10:15] j7126 commented on #319
I have made it store the beginning of the first layer indicator that is matched, and only match future layer indicators that start with that. Hopefully this should fix the issue.

This change will be included in the next release, you can try it out by installing the version from development branch `https://github.com/j7126/OctoPrint-Dashboard/archive/development.zip`

[2022-03-10 10:15] #319 closed

[2022-03-10 10:17] #332 closed

[2022-03-10 10:17] #316 closed

[2022-03-10 13:30] j7126 commented on #321
Hi @ido-nl

It seems that for some reason the gcode was not being decoded correctly when being loaded from the NAS. I have added an extra check to make sure that it is properly decoded, which should fix the issue.

This change will be included in the next release, you can try it out by installing the version from development branch `https://github.com/j7126/OctoPrint-Dashboard/archive/development.

[2022-03-25 03:08] mmikem opened #338 "Layer Percent Displays Crazy Values"
Layer Percent is currently displaying 2027645% of current layer complete.  I attached a video..

https://user-images.githubusercontent.com/10793065/160046603-6f01d584-a7c0-4554-ad93-b568027eba2a.mp4

.

[2022-03-31 10:02] derekakelly opened #339 "[Bug]: Missing Data"
### The problem

I was originally going to run octoprint on a dedicated raspberry pi, but they're impossible to find at MSRP right now, so I set it up in my home server instead. Unfortunately, some of the data I'm expecting to see is missing. The L**ayer Durations**, **Estimated total print time**, **Total Layers**, and **Average Layer Time**.
![image](https://user-images.githubusercontent.com/582

[2022-04-19 07:52] bereldhuin opened #340 "Manual command"
Hi,

It would be nice to enable manual command widget instead of automated every x seconds.

Here is a simple use case : I have a lamp connected to a Tasmota plug which is used to show what's going on with the webcam, as the room is quite dark.

I can simply switch it on or off with the following call and get status :

`curl -s http://192.168.1.46/cm?cmnd=Power%20Toggle | jq -r ".POWER"`

This wor

[2022-04-20 18:27] mmikem commented on #338
NOTHING?

[2022-04-20 22:54] j7126 commented on #338
I have not yet had time to take a look at this.

Of course I will not be able to debug the issue unless you provide some more information. Please upload your octoprint [system info bundle](https://community.octoprint.org/t/what-is-a-systeminfo-bundle-and-how-can-i-obtain-one/29887) and the gcode file you were printing when the issue occurred.

I have seen someone reporting an issue like this befor

[2022-04-20 23:07] j7126 commented on #339
I tried the gcode file you provided and all of the information was showing correctly.

I have noticed that in the logs there is no mention of dashboard gcode analysis, and also that the log file seems quite short, is it possible that you cleared the logs after the issue occurred before uploading?

It is also possible that the gcode analysis did not work properly for some reason. Can you please let

[2022-04-21 00:01] j7126 commented on #336
I have made a fix.

This change will be included in the next release, you can try it out by installing the version from development branch using this url `https://github.com/j7126/OctoPrint-Dashboard/archive/development.zip`

[2022-04-21 00:01] #336 closed

[2022-04-21 19:07] BiOs2k opened #341 "[Bug]: Dashboard show CPU 0c on OrangePI_Zero2"
### The problem

Dashboard show CPU 0c on OrangePI_Zero2

### Version of OctoPrint

1.7.3

### Platform

OrangePI Zero2 H616

### Operating system running OctoPrint

Ubuntu 20.04.4 LTS

### Dashboard version

Dashboard (1.19.8)

### Python version

Python 3.8

### Printer model & used firmware incl. version

Marlin

### Browser and version of browser, operating system running browser

FireFox

###

[2022-04-21 19:40] StefanCohen commented on #340
FYI: It should be fairly easy to use the [PSUControl Plugin](https://github.com/kantlivelong/OctoPrint-PSUControl) to do the switching and sensing of your lamp as it can use system commands for both. I use that to turn the printer on/off and display the status over an IKEA smart plug.

[2022-04-22 06:07] bereldhuin commented on #340
Hi,

Thanks for your reply.

I actually use the Tasmota plugin which adds a toogle button in the header bar,  but when Dashboard is in full screen mode, this button is no more visible.

[2022-04-23 00:08] mmikem commented on #338
Hi, System info bundle attached. Thanks

[octoprint-systeminfo-20220423010311.zip](https://github.com/j7126/OctoPrint-Dashboard/files/8545215/octoprint-systeminfo-20220423010311.zip)
.

[2022-04-27 02:30] derekakelly commented on #339
Hi j7126,

I save my gcode files over the network to a shared folder for octoprint. Using the refresh icon in the Files section of the left side, I get the files to show up in the list. I've found that if I go into the settings, then to the PrintTimeGenius Plugin, select the new file in that list and analyze it. It will show all the data. sometimes. However, frequently the data for the layers does

[2022-04-29 05:41] derekakelly commented on #339
![image](https://user-images.githubusercontent.com/5824837/165890266-fa019abd-7779-4fb8-a339-faf6b5800557.png)

[BigEinsyCase-Cover-Logo_0.2mm_PETG_MK3SMMU2S_17h24m.gcode.zip](https://github.com/j7126/OctoPrint-Dashboard/files/8588349/BigEinsyCase-Cover-Logo_0.2mm_PETG_MK3SMMU2S_17h24m.gcode.zip)

[octoprint-systeminfo-20220429013901.zip](https://github.com/j7126/OctoPrint-Dashboard/files/8588351/

[2022-05-02 14:58] OscarVsp commented on #338
Hello, same issu. Here is my system info bundle, i hope it will help you.

And thanks for this pluging
[system info bundle](https://github.com/j7126/OctoPrint-Dashboard/files/8603750/octoprint-systeminfo-20220502165655.zip)
!

[2022-05-03 22:50] mmikem commented on #338
Hi Jeffery, I noticed that the crazy layer percentages only occur upon first print of a gcode file. Subsequent prints of the same file show the correct layer percentage. Even if printer is power cycled...hope that helps.

[2022-05-04 17:19] larsbrockmann commented on #60
@tocache Thanks for the response. Sadly, I can not remember if I ever solved the problem. I moved on to using Klipper and Fluidd.

[2022-05-13 06:58] bereldhuin commented on #335
+1

[2022-05-14 15:13] mmikem commented on #338
Hi Jeffery, I have proven my previous troubleshooting results.  This repeatable happens only upon first print of the gcode file.  All subsequent prints never show the crazy layer percentage.  Curious if you have had time to look at this issue. Love the dashboard plug-in, but would love a fix to the layer issue. Thanks.

[2022-05-15 12:14] j7126 commented on #338
Hi, can you please send the gcode file.
Can you also try installing the development version of dashboard using the plugin manager using this url: `https://github.com/j7126/OctoPrint-Dashboard/archive/development.zip` and let me know what happens.

[2022-05-18 07:41] giano574 opened #342 "[Bug]: Old thumbnail shown"
### The problem

I haven't had time to figure out exactly how to reproduce it but my steps were:
1. Upload and print a model through OctoPrint for Cura plugin. Confirm that the thumbnail is shown in the dashboard.
2. Upload a new model and start printing by using OctoPrint for Cura plugin.
3. Confirm that the dashboard has updated, but is showing the old thumbnail.

### Version of OctoPrint

1.7.3

[2022-05-23 03:50] Gozania opened #343 "[Bug]: Extruded Filament not being reflected unless dashboard refreshed."
### The problem

1. As title suggests, filament not being reflected (is being counted) during a print.  The only way to see the current extruded filament is to either A) Refresh ocotoprint window. B) Go fullscreen in dashboard (faster than refreshing octoprint instance) C) Go from fullscreen to normal sized dashboard window.  It appears anytime the dashboard is refreshed it will show the current a

[2022-05-23 05:15] Gozania opened #344 "[Bug]: Minor color shift of print button & disk usage icon."
### The problem

1. I noticed that after a layer is complete there is a brief color shift of the print button and the disk usage icon.  I have attached photos of before layer completion & during the color shift itself.   May be difficult to see, so you may want to run a quick print to see for yourself.

Not really a bug, but more of an observation that I am unsure if intended...

### Version of Oc

[2022-05-27 03:46] j7126 commented on #343
This looks similar to issue #336 which already has a fix ready for the next release.

You can try it out by installing the version from development branch using this url `https://github.com/j7126/OctoPrint-Dashboard/archive/development.zip`

Please let me know does this solve the problem?

[2022-05-27 03:56] j7126 commented on #341
👍

[2022-05-27 03:56] #341 closed

[2022-05-27 04:11] j7126 commented on #342
Can you please check if the thumbnail is shown correctly or not when you view it using the button in the files menu? If it is not shown correctly there, can you please try and see if it is shown correctly there when Dashboard plugin is disabled?

[2022-05-27 04:14] j7126 commented on #326
@r0dnay do you still have this issue? If so can you confirm that you are talking about the loading animation at the bottom of the dashboard where the webcam would go or is it something else? Can you confirm that you can see the webcam in the control tab? Please upload the octoprint system info bundle and a screenshot of the dashboard webcam settings.

[2022-05-27 07:21] voidsshadows opened #345 "[Bug]: cant scroll"
### The problem

1. the dashboard is causing me to not be able to scroll

### Version of OctoPrint

1.8.1

### Platform

docker inside ubuntu desktop

### Operating system running OctoPrint

linux

### Dashboard version

1.19.8

### Python version

3.8.13

### Printer model & used firmware incl. version

_No response_

### Browser and version of browser, operating system running browser

Chrome, s

[2022-05-27 08:17] j7126 commented on #345
Hi @Michael4607
I am trying to make sense of your screenshot there. I can see that you have the controls to the left and the webcam to the right. Is that done by another plugin?
Also it is a bit hard to see here can you send a screenshot of the whole page.
Also are you unable to scroll the entire page, or are there some places where you can, is it just that you can't scroll all the way to the bott

[2022-05-28 05:38] Michael4607 commented on #345
I cant scroll on the whole page it shows the scroll on the side but I cant scroll it looks the exact same when the plugins off but I am able to scroll
![Screenshot 2022-05-28 003721](https://user-images.githubusercontent.com/75304648/170811756-d1453f68-6d4b-4b4b-a479-c940327e841b.png)

[2022-05-28 08:59] Gozania commented on #343
Did not solve the problem for me.  Only thing I noticed is the countdown timer has become laggy.  However extruded filament distance still remains the same after almost an hour of time elapsed.

Start of monitoring
<img width="466" alt="Screenshot 2022-05-28 005850" src="https://user-images.githubusercontent.com/83924000/170818530-c7f5b916-afd6-41bc-9f97-383297dff81a.png">

End of monitoring
<img

[2022-05-29 04:15] j7126 commented on #345
Strange, I can't think what would be causing that. Can you check if it still happens if you disable all other plugins except for dashboard?

[2022-06-06 13:22] timhaller opened #346 "Translation to German"
Hello,
I would like to add a translation to German if you are interested

[2022-06-08 01:27] luizbgomide opened #347 "[Bug]: Next Filament Change value doesn't make sense"
### The problem

The value displayed in Next Filament Change doesn't make sense, I printed a lot of files with multiple filament changes and in all cases the value was either too short, or too long. I'm not even sure if it is showing time TO change or time OF change, it is very wrong in either case.

By comparison, the plugin TimeToFilament shows the values correctly and accurately (it uses PrintT

[2022-06-10 23:14] mmikem commented on #338
Attached is a gcode file that exhibits the issue.  Have not tried the development version yet...

[Box-100x125x45.zip](https://github.com/j7126/OctoPrint-Dashboard/files/8882659/Box-100x125x45.zip)
.

[2022-06-11 11:11] CWempe opened #349 "Long file names exceed Dashboard"
I am using long file names for my projects and the axceed the dashboard and overlap to the right.

![image](https://user-images.githubusercontent.com/1270359/173185484-accdbadd-1b3f-4f03-ada0-dfb001345845.png)

I think a solution could be to decrease the font size for too long file names.

[2022-06-11 11:19] CWempe commented on #349
I changed some setting of the dashboard for the first time and now it looks good.

Maybe the previous settings were old. 🤷‍♂️

![image](https://user-images.githubusercontent.com/1270359/173185688-38cf33a5-0c22-4c9d-a850-81c9d4f5c192.png)

[2022-06-11 11:47] CWempe commented on #349
Sorry, but I need to reopen this issue again.

When starting a new print job the issue still exists.

![image](https://user-images.githubusercontent.com/1270359/173186507-f6767472-0e48-47d5-95e4-939de32075c4.png)

But after pressing F5 to refresh the browser window it is fixed.

[2022-06-17 07:26] Gozania commented on #343
For whatever reason it works now...

[2022-06-17 13:07] Anth70 opened #350 "ETA problems"
**ETA PROBLEM**
Hello and THANKS for a great plugin, the problem i have is that the ETA is not correct. I do not have PrintTimeGenius installed though it causes problems for me. But i have correct ETA from Cura there i insert a post prcessing script that insert the M117 and M118 ETA time that shows in Dashboard as MSG, and is correct.

**Solution**
I wonder if it is possible to implement that code

[2022-06-17 18:03] Gozania commented on #343
Had to reopen this issue...  It appears it worked correctly after a full shutdown of the pi (power included).  The extruded amount will update and function as it should for the first print after reboot, however every subsequent print the extruded amount stays the same regardless of time elapsed during print.

Having just discovered this, I will attempt to repeat the same result by shutting down th

[2022-06-21 13:23] BaileyMillerSSI commented on #326
@r0dnay I had a similar problem after updating to the latest OctoPrint version. I checked into the camera settings in the UI and a . had been added before the camera path. I removed that, saved, and reloaded page and now the camera is back to working fine.

[2022-07-02 06:44] j7126 commented on #349
I can't seem to reproduce the issue, can you please share the exact sequence of steps you took before the issue occurred. Can you also please share you octoprint system info bundle.

[2022-07-03 04:30] j7126 commented on #335
#289

[2022-07-03 04:45] j7126 commented on #346
Hi @timhaller, that would be great.

You can see this issue #284 to se how the french translation was done in the past.

You will need to download the repo and create the file `translations/de/LC_MESSAGES/messages.po`. You can copy this file from the existing french translation and simply change each value of `msgstr` into German in order to add your translation.

The file contains entries like th

[2022-07-05 20:12] CWempe commented on #349
## Steps to reproduce

* open OctoPrint with Chrome
* Power On printer via Tasmota-MQTT Plugin
* Open last project (`.gcode`)
* See long file name

![octoprint_long_name](https://user-images.githubusercontent.com/1270359/177407829-b65bc36d-5fc5-441f-9f63-8c660a33e336.gif)

## octoprint system info bundle

[octoprint-systeminfo-20220705220354.zip](https://github.com/j7126/OctoPrint-Dashboard/files/

[2022-07-10 19:38] luizbgomide commented on #347
Here is a Gcode that exhibit the behavior
[Corporate Stronghold (Silver Brown Silver) zhop.zip](https://github.com/j7126/OctoPrint-Dashboard/files/9079741/Corporate.Stronghold.Silver.Brown.Silver.zhop.zip)
.

[2022-07-21 17:34] Oxize opened #351 "Tool and bed in Control Fullscreen [Bug]:"
### The problem

Tool and Bed information not showing on Controll Full Screen. On dashboard its showing correct.

![image](https://user-images.githubusercontent.com/3933702/180276970-87aa3a7b-2289-4bf3-8d7d-6d093758d5b4.png)

### Version of OctoPrint

OctoPrint 1.8.1

### Platform

Raspberry Pi 4

### Operating system running OctoPrint

OctoPi 0.18.0

### Dashboard version

Dashboard (1.19.8)

###

[2022-07-21 17:41] Oxize commented on #351
Closed its.. Its not yours. Its from Billyblaze. My bad...

[2022-07-21 17:41] #351 closed

[2022-08-10 06:31] DrEthan77 opened #352 "Webrtc implementation"
**Is your feature request related to a problem? Please describe.**
Yes, I have very limited bandwidth for my video stream and most solutions (HLS and the built in mjpg) have too many problems associated with them.

**Describe the solution you'd like**
As octoprint has recently implemented webrtc support and I have it up and running on my octoprint server, I would love to see dashboard support it a

[2022-08-10 06:32] DrEthan77 commented on #249
I just submitted a feature request but I would love to see webrtc implemented!

[2022-08-16 01:30] #349 closed

[2022-08-16 05:39] j7126 commented on #344
I can't seem to see this issue happening on my end.

[2022-08-16 05:39] #344 closed

[2022-08-16 21:36] Straconis opened #353 "Height data not being displayed"
Height data is not being displayed by dashboard plugin, other plugins are displaying the height data correctly

![image](https://user-images.githubusercontent.com/23182351/184989562-6f8ee907-e00f-474b-a589-2d3adc0988d1.png)

[2022-08-22 19:48] Straconis commented on #353
Noticed while printing over the weekend that it is now displaying.  Since this screenshot was taken the computer was restarted which seems to have corrected the concern.

[2022-08-22 19:48] #353 closed

[2022-08-26 06:02] puterboy commented on #347
I have found the same problem. My next filament change is in about 3 hours (which TimeToFilament gets right) but dashboard shows 20:58 (as in 20hrs, 58minutes).

Seems very broken...

[2022-08-26 06:12] puterboy opened #354 "[Bug]: Layer Durations graph is squished and basically unreadable."
### The problem

The Layer Durations Graph (I'm using Normal mode) is squished horizontally with the x-axis layer values basically unreadable

![Screenshot 2022-08-26 020927](https://user-images.githubusercontent.com/1993858/186834139-218bc12d-a73b-4751-8785-23b8ab2630da.png)
.

### Version of OctoPrint

1.8.2

### Platform

RPi4

### Operating system running OctoPrint

Raspbian Buster

### Dashbo

[2022-08-26 06:16] puterboy opened #355 "Reduce redundancy between bar graphs and numerical data"
I think clarity and space utilization can be improved if certain information is grouped together rather than displayed separately.
For example, layers is displayed as a percent completed in a bar graph and then separately as a fraction  X/Y layers. These could be combined with both the percent and the "X/Y layers" labeling the bar graph (they both are really the same just one is a percentage and t

[2022-08-26 06:29] puterboy commented on #354
Never mind. Problem resolves after refreshing Octoprint in the browser...

[2022-08-26 06:29] #354 closed

[2022-10-10 03:09] SeeJayEmm opened #359 "Add support for Libre Computer "Le Potato" Temp Sensor"
**Is your feature request related to a problem? Please describe.**
CPU temp shows 0.

**Describe the solution you'd like**
Please add support for the temp sensor on the Le Potato board.

**Describe alternatives you've considered**
Not sure there's an alternative here other than living with it.

**Additional context**
Seems related to this conversation.
https://github.com/j7126/OctoPrint-Dashboard/

[2022-10-11 05:11] j7126 commented on #359
I have released a new version with a fix.

[2022-10-11 05:11] #359 closed

[2022-10-30 09:38] #345 closed

[2022-10-30 09:38] j7126 commented on #345
closing as can't reproduce and no activity

[2022-10-30 09:58] j7126 commented on #347
I will have a look at how TimeToFilament does it

[2022-10-30 12:18] j7126 commented on #347
I have created a fix, it will be included in the next release.
If you want to try it out before then, you can install the development branch using this url
`https://github.com/j7126/OctoPrint-Dashboard/archive/development.zip`
Please note that this branch may be unstable.

[2022-10-30 12:18] #347 closed

[2022-10-30 12:36] #326 closed

[2022-10-31 11:19] luizbgomide commented on #347
Thanks, if I install the development branch will it auto-update when a new version is released?

[2022-10-31 11:20] j7126 commented on #347
Yes

[2022-11-03 15:18] beerman-uk opened #361 "[Bug]: Disable Nonce in octoprint webcam"
### The problem

Spelling issue in Webcam settings.
Text says "Disable nonce in octoprint webcam" in the webcam settings

Not sure what a Nonce has to do with 3d printing, in my country it's a paedophile.

### Version of OctoPrint

1.8.4

### Platform

pi 3B+

### Operating system running OctoPrint

octopi

### Dashboard version

1.19.9

### Python version

_No response_

### Printer model & used

[2022-11-05 00:12] j7126 commented on #361
nonce (number used once) refers to a unique number that is added to the end of webcam url when it is loaded in order to make the requested url unique. This is to ensure that the current image is retrieved instead of a cached version.

[2022-11-05 00:12] #361 closed

[2022-11-05 12:49] ochm commented on #343
Yes, the amount of filament is not updated until page refresh (F5). Trying in Chrome, Firefox ESR, both in latest versions.

[2022-11-05 13:04] j7126 commented on #343
Hi @Gozania @ochm I have just added a new fix to the development branch.

Please reinstall from the development branch and let me know if it is working.
`https://github.com/j7126/OctoPrint-Dashboard/archive/development.zip`
(Please note this branch may be unstable)

[2022-11-06 02:55] Gozania commented on #343
Looking good so far.... Will report after I start my next print.

[2022-11-06 06:57] Gozania commented on #343
Looks to be working properly now.

[2022-11-11 20:23] mpaw commented on #319
@j7126 Is this fix going to be released soon?

[2022-11-11 22:32] Gozania commented on #343
I spoke too soon... The extruded filament has been fixed, it now displays in real time and dont need to refresh between prints.  However I have been doing some 2 color prints and the time until filament change is not working...  Have done several prints & none of them displayed the time.

[2022-11-12 00:47] j7126 commented on #343
@Gozania Please send the gcode file

[2022-11-14 01:11] TaylorN15 commented on #339
I am also noticing this issue when printing via Obico (formerly Spaghetti Detective), although this shouldn't matter, should it?
![image](https://user-images.githubusercontent.com/17151639/201555589-203364ee-5858-49a9-bca3-b1a868822e2e.png)

[2022-11-15 17:49] Gozania commented on #343
Here is the Gcode of one of the prints I did.  Others were same stl, just different layers at color change.  This is the latest that did not reflect a filament change time.
[Octopus_spiral_sup_v6_4h35m_$1.20266_22.2798g_7.47005m_210C_PLA.zip](https://github.com/j7126/OctoPrint-Dashboard/files/10015027/Octopus_spiral_sup_v6_4h35m_.1.20266_22.2798g_7.47005m_210C_PLA.zip)

[2022-11-27 22:39] larrybud2004 commented on #339
I have a similar problem:

![image](https://user-images.githubusercontent.com/26240504/204163551-5aa70acd-8b70-4ed1-bee4-36c0887ad8da.png)